<%= render 'layouts/header', :locals => {:page_header => t('header_about')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-12 medium-9 large-9 columns">
	  	<h4 class="subheader"><%=t :about_h1 %></h4>
		<p><%=t :about_b1 %><br><br>
    <span id="cdSiteSeal1"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb73819e03f6a5d15f5f8ep00y7mb7355e4ye701a3598669ef63090"></script></span>
    </p>
	  	<h4 class="subheader"><%=t :about_h2 %></h4>
	  	<p><%=t :about_b2 %></p><br>
	  	<h4 class="subheader"><%=t :about_h3 %></h4>
	  	<p><%=t :about_b3 %></p>
	  	<p><%=t :about_h4 %></p><br>

  		<div class="row">
  		  	<div class="small-2 columns"><%= image_tag("cartoonhead1.png", :alt => "P. Chen") %></div>
  		  	<div class="small-10 columns">
  			 <%=t :about_h5 %><br><br>
  			 <%=t :about_b5 %><br><br>
  			</div>
  		</div>
  		<div class="row">
  		  	<div class="small-2 columns"><%= image_tag("cartoonhead2.png", :alt => "V. Ha") %></div>
  		  	<div class="small-10 columns">
  			 <%=t :about_h6 %><br><br>
  			 <%=t :about_b6 %><br><br>
  			</div>
  		</div>
  		<div class="row">
  		  	<div class="small-2 columns"><%= image_tag("cartoonhead3.png", :alt => "W. Leung") %></div>
  		  	<div class="small-10 columns">
  			 <%=t :about_h7 %><br><br>
  			 <%=t :about_b7 %><br><br>
  			</div>
  		</div>	
  		</div>	  
	  <div class="small-12 medium-3 large-3 columns">
	    <div class="hide-for-small-only">
			<h4 class="subheader"><%=t :links_about %></h4>
			<ul>
				<%= render 'layouts/about_menu'%>
			</ul>
		</div>		  
	  </div>
	</div>			
</div>