<%= render 'layouts/header', :locals => {:page_header => t('header_bitcoins')} %>

<div id="before-content-area">
	<div class="row">
	  	<div class="small-2 columns"><%= image_tag("bw_mobile.png", :alt => "house") %></div>
	  	<div class="small-10 columns">	
			<h5><%=t :bitcoins_h1 %></h5>
			<p><%=t :bitcoins_b1 %></p>
		</div>
	</div>
	<div class="row">
	  	<div class="small-2 columns"><%= image_tag("bw_lock.png", :alt => "lock") %></div>
	  	<div class="small-10 columns">	
			<h5><%=t :bitcoins_h2 %></h5>
			<p><%=t :bitcoins_b2 %></p>
		</div>
	</div>			
	<div class="row">
	  	<div class="small-2 columns"><%= image_tag("bw_thumbsup.png", :alt => "thumbs up") %></div>
	  	<div class="small-10 columns">	
			<h5><%=t :bitcoins_h3 %></h5>
			<p><%=t :bitcoins_b3 %></p>
		</div>
	</div>	
	<div class="row">
	  	<div class="small-2 columns"><%= image_tag("bw_globe.png", :alt => "globe") %></div>
	  	<div class="small-10 columns">	
			<h5><%=t :bitcoins_h4 %></h5>
			<p><%=t :bitcoins_b4 %></p>
		</div>
	</div>		
	<div class="row">
	  	<div class="small-2 columns"><%= image_tag("bw_money.png", :alt => "money") %></div>
	  	<div class="small-10 columns">	
			<h5><%=t :bitcoins_h5 %></h5>
			<p><%=t :bitcoins_b5 %></p>
		</div>
	</div>	
	<div class="row">
	  	<div class="small-2 columns"><%= image_tag("bw_head.png", :alt => "head") %></div>
	  	<div class="small-10 columns">	
			<h5><%=t :bitcoins_h6 %></h5>
			<p><%=t :bitcoins_b6 %></p>
		</div>
	</div>
	<div class="row">
	  	<div class="small-2 columns"><%= image_tag("bw_graduation.png", :alt => "graduation") %></div>
	  	<div class="small-10 columns">	
			<h5><%=t :bitcoins_h7 %></h5>
			<p><%=t :bitcoins_link1 %></p>
			<p><%=t :bitcoins_link2 %></p>
			<p><%=t :bitcoins_link3 %></p>				
		</div>
	</div>			

</div>