<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :header_bitcoins %></h1>
	</div>
</div>

<div id="before-content-area">
	<h5><%=t :bitcoins_h1 %></h5>
	<p><%=t :bitcoins_b1 %></p>
	<h5><%=t :bitcoins_h2 %></h5>
	<p><%=t :bitcoins_b2 %></p>
	<h5><%=t :bitcoins_h3 %></h5>
	<p><%=t :bitcoins_b3 %></p>
	<h5><%=t :bitcoins_h4 %></h5>
	<p><%=t :bitcoins_b4 %></p>
	<h5><%=t :bitcoins_h5 %></h5>
	<p><%=t :bitcoins_b5 %></p>
	<h5><%=t :bitcoins_h6 %></h5>
	<p><%=t :bitcoins_b6 %></p>
	<h5><%=t :bitcoins_h7 %></h5>
	<p><%=t :bitcoins_b7 %></p>
	<h5><%=t :bitcoins_h8 %></h5>
	<p><%=t :bitcoins_link1 %></p>
	<p><%=t :bitcoins_link2 %></p>
	<p><%=t :bitcoins_link3 %></p>	
</div>