<%= render 'layouts/header', :locals => {:page_header => t('header_contact')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-12 medium-9 large-9 columns">	
			<p><%=t :contact_h1 %></p>
			<p><%=t :contact_b1 %></p>
			<p>Email: <a href="mailto:bibicoins@gmail.com">bibicoins@gmail.com</a></p>
			<p>Phone: +886 922711415</p>
			<p><%=t :common_address_value %></p>
	  </div> 	  
	  <div class="small-12 medium-3 large-3 columns">
	  	<div class="hide-for-small-only">
			<h4 class="subheader"><%=t :links_about %></h4>
			<ul>
				<%= render 'layouts/about_menu'%>
			</ul>
		</div>		  
	  </div>
	</div>	
</div>

