<%= render 'layouts/header', :locals => {:page_header => t('header_contact')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-9 columns">	
			<p><%=t :contact_h1 %></p>
			<p><%=t :contact_b1 %></p>
			<p>Email: <a href="mailto:helpdesk@bibicoins.com.tw">helpdesk@bibicoins.com.tw</a></p>
			<p>Phone: +886 922711415</p>
			<p>Zhongxiao Dong Lu, Unit 18/C</p>
	  </div> 	  
	  <div class="small-3 columns">
		<h4><%=t :links_about %></h4>
		<ul class="bibicoin-sidebar">
			<%= render 'layouts/about_menu'%>
		</ul>		  
	  </div>
	</div>	
</div>

