<%= render 'layouts/header', :locals => {:page_header => t('header_faq')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-12 medium-9 large-9 columns">
		<h4 class="subheader"><%=t :faq_h1 %></h4>
		<p><%=t :faq_b1 %></p>
		<p><%=t :faq_b1_1 %></p>
		<h4 class="subheader"><%=t :faq_h2 %></h4>
		<p><%=t :faq_b2 %></p>
		<p><%=t :faq_b2_1 %></p>
		<p><%=t :faq_b2_2 %></p>
		<h4 class="subheader"><%=t :faq_h3 %></h4>
		<p><%=t :faq_b3 %></p>
		<h4 class="subheader"><%=t :faq_h4 %></h4>
		<p><%=t :faq_b4 %></p>
		<h5 class="subheader"><%=t :faq_h5 %></h5>
		<p><%=t :faq_b5 %></p>
		<h5 class="subheader"><%=t :faq_h6 %></h5>
		<p><%=t :faq_b6 %></p>
		<h5 class="subheader"><%=t :faq_h7 %></h5>
		<p><%=t :faq_b7 %></p>
		<h5 class="subheader"><%=t :faq_h8 %></h5>
		<p><%=t :faq_b8 %></p>
		<p><%=t :faq_b8_1 %></p>
		<h4 class="subheader"><%=t :faq_h9 %></h4>
		<p><%=t :faq_b9 %><p>
		<h5 class="subheader"><%=t :faq_h10 %></h5>
		<p><%=t :faq_b10 %><a href-"mailto:bibicoins@gmail.com"><%=t :faq_email %></a></p>
		<h5 class="subheader"><%=t :faq_h11 %></h5>
		<p><%=t :faq_b11 %></p>
		<h5><%=t :faq_h12 %></h5>
		<p><%=t :faq_b12 %></p>
		<p><%=t :faq_h13 %><a href-"mailto:bibicoins@gmail.com"><%=t :faq_email %></a></p>
		<p><%=t :faq_b13 %></p>
		<p><%=t :faq_h14 %></p>
  </div> 	  
	  <div class="small-12 medium-3 large-3 columns">
	  	<div class="hide-for-small-only">
			<h4 class="subheader"><%=t :links_about %></h4>
			<ul class="bibicoin-sidebar">
				<%= render 'layouts/about_menu'%>
			</ul>
		</div>		  
	  </div>
	</div>	
</div>