<% provide(:title, 'Bibicoin | 比特幣') %>

<%= image_tag("logo.png", size: "200x150", :alt => "BiBicoins Logo") %>
<div class="row">
  	<div class="small-12 columns">
		 <%= image_tag("icon_lock.png", :alt => "Lock") %><%= link_to(t('links_howtoprotect'), :how) %><br> 
	</div>   
</div>	
<div class="row" data-equalizer="">
  <div class="small-12 columns">
    <div class="panel">	
		 <div class="small-12 columns">
			 <%=t :ticker_trading %>
			 <%=t :ticker_buy%><%= number_with_precision(@buyValue, precision: 0) %> NTD
			 <%=t :ticker_sell %><%= number_with_precision(@sellValue, precision: 0) %> NTD
		 </div>	 		 		 		 		 
    </div>
  </div> 
</div>
<br>
<div class="row" data-equalizer="">
  <div class="medium-8 columns">
    <h5 class="bibicoin-slogan"><%=t :home_slogan1 %></h5>
  </div>
  <div class="medium-4 columns"><div class="bibicoin-facebook">
    <%= image_tag("icon_fb.png", :alt => "Facebook") %> &nbsp;<a href="http://www.facebook.com/Bibicoins"><%=t :home_facebook %></a><br><br></div>
  </div>  
</div>

<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :home_slogan2 %></h1>
	</div>
</div>

<div class="row" data-equalizer="">
  <div class="medium-3 columns">
    <div class="row" data-equalizer=""><%= image_tag("icon_cart.png", :alt => "Cart", :size => "40x40")%> <%= link_to(t('links_buy'), :buy) %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_computer.png", :alt => "Computer", :size => "40x40")%> <%= link_to(t('links_sell'), :sell) %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_questions.png", :alt => "Questions", :size => "40x40")%> <%= link_to(t('links_howtobuy'), :howtobuy) %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_questions.png", :alt => "Questions", :size => "40x40")%><%= link_to(t('links_howtosell'), :howtosell) %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_information.png", :alt => "Info", :size => "40x40")%> <%= link_to(t('links_bitcoins'), :bitcoins) %></div>
	 	 <div class="row" data-equalizer=""><%= image_tag("icon_wallets.png", :alt => "Wallet", :size => "40x40")%> <%= link_to(t('links_wallets'), :wallets) %> </div>
	 	 <div class="row" data-equalizer=""><%= image_tag("icon_bitcoin.png", :alt => "Why", :size => "40x40")%> <%= link_to(t('links_why'), :why) %></div>		 
  </div>
  <div class="medium-4 columns">
    <%= image_tag("home_bitcoin.png", :alt => "Bitcoins", :size => "650x600")%>
  </div>  
  <div class="medium-5 columns">
	 <table>
		 <tr>
			 <td colspan='2'><%=t :conversion_buy %></td>
		 </tr>
		 <tr>
			 <td><%=t :conversion_ntdamt %></td>
		    <td><input type="text" id="NTDBuy" placeholder="30,000" oninput="updateBuyAmt()"/></td>
		 </tr>
		 <tr>
			 <td><%=t :conversion_btcamt %></td>
			 <td><p id="BTCBuy"> </p></td>
		 </tr>
		 <tr>
			 <td colspan='2'><%=t :conversion_sell %></td>
		 </tr>
		 <tr>
			 <td><%=t :conversion_btcamt %></td>
		    <td><input type="text" id="NTDSell" placeholder="10" oninput="updateSellAmt()"/></td>
		 </tr>
		 <tr>
			 <td><%=t :conversion_ntdamt %></td>
			 <td><p id="BTCSell"></p></td>
		 </tr>		 		 		 		 
	 </table>
  </div> 
    
</div>
<br><br>

<!-- How to Buy From Bibicoins -->
<div class="row">
  <div class="small-12 columns"><h3 class="subheader"><%= link_to(t('links_howtobuyfrombibicoin'), :howtobuy) %><h3></div>   
</div>

<div class="row">
  	<div class="small-12 medium-3 large-3 columns">
  		<%= link_to image_tag("step1.png"), :howtobuy, anchor: "#1" %><p><b><%=t :home_buystep1 %></b><br><%=t :home_buystep1a %><%= link_to(t('home_buystep1b'), :wallets) %><%=t :home_buystep1c %></p>
  	</div>
  	<div class="small-12 medium-3 large-3 columns">
  		<%= link_to image_tag("step2.png"), :howtobuy %><p><b><%=t :home_buystep2 %></b><br><%=t :home_buystep2a %><%= link_to(t('home_buystep2b'), :buy) %><%=t :home_buystep2c %></p>
  	</div>
  	<div class="small-12 medium-3 large-3 columns">
  		<%= link_to image_tag("step3.png"), :howtobuy %><p><b><%=t :home_buystep3 %></b><br><%=t :home_buystep3a %>
  	</div>
	<div class="small-12 medium-3 large-3 columns">
		<%= link_to image_tag("step4.png"), :howtobuy %><p><b><%=t :home_buystep4 %></b><br><%=t :home_buystep4a %></p>
	</div> 
</div>
<br>
<br>

<!-- How to Sell From Bibicoins -->
<div class="row">
  <div class="small-12 columns"><h3 class="subheader"><%= link_to(t('links_howtosellfrombibicoin'), :howtosell) %></h3></div>   
</div>

<div class="row">
  	<div class="small-12 medium-3 large-3 columns">
  		<%= link_to image_tag("step1.png"), :howtosell, anchor: "#1" %><p><b><%=t :home_sellstep1 %></b><br><%=t :home_sellstep1a %><%= link_to(t('home_sellstep1b'), :sell) %><%=t :home_sellstep1c %></p>
  	</div>
  	<div class="small-12 medium-3 large-3 columns">
  		<%= link_to image_tag("step2.png"), :howtosell %><p><b><%=t :home_sellstep2 %></b><br><%=t :home_sellstep2a %></p>
  	</div>
  	<div class="small-12 medium-3 large-3 columns">
  		<%= link_to image_tag("step3.png"), :howtosell %><p><b><%=t :home_sellstep3 %></b><br><%=t :home_sellstep3a %>
  	</div>
	<div class="small-12 medium-3 large-3 columns">
		<%= link_to image_tag("step4.png"), :howtosell %><p><b><%=t :home_sellstep4 %></b><br><%=t :home_sellstep4a %></p><br>
	</div> 
</div>			

<!-- About Bibicoins -->
<div class="row">
  	<div class="small-12 columns"><h3 class="subheader"><%=t :home_aboutbibicoin %><h3></div>   
	<div class="small-12 columns"><p><%=t :home_aboutbibicoin_text %>("<%= link_to(t('header_why'), :why) %>")</p><br></div>
</div>

<!-- BTC Market Value (USD) -->
<div class="row">
	<div class="small-12 columns"><%= image_tag(@marketValueChart) %></div>
</div>

<!-- News Feed -->
<div id="before-content-area">
<div class="row">
  <div class="small-12 columns"><h3 class="subheader"><%=t :home_newsfeed %><h3></div>   
</div>

<div class="row">
  <div class="small-12 columns">
	  <ul>
		  <% @rssNewsFeed.each do |item| %>
			<li><a href = <%= item.link %> target="_blank"> <%= item.title %> </a> <br> <%= item.pubDate %></li>
			<br/>
		  <% end %>
	  </ul>
  </div>   
</div>

<!-- BTC Network Data -->
<div class="row">
	<div class="small-12 columns"><h3 class="subheader"><%=t :home_btcnetworkdata %><h3></div>
	<div class="small-12 columns"><h5 class="subheader"><%= @statsDateTime %><h5></div>      
</div>	

<div class="row">
	<div class="small-12 columns">
		<% @statsHash.each_pair do |key, value| %>
			<div class="row">
				<div class="small-12 columns"><%= key %> | <%= value %></div>
			</div>
		<% end %>
	</div>   
</div>
<br>

<!-- Menus -->
<div class="row" data-equalizer="">
  <div class="small-12 medium-12 large-3 columns">
    <div class="panel" data-equalizer-watch="" style="height: 350px;">
		 <h5 class="subheader"><%=t :header_contact %>:</h5>
		 <p><%=t :home_contactus_text %></p>
		 <p>
			 <%=t :common_email %>: <%= mail_to t('common_email_value'), t('common_email_value') %><br><br>
			 <%=t :common_phone %>: <%=t :common_phone_value %><br>
			 <%=t :common_address %>: <%=t :common_address_value %><br>
		 </p>
    </div>
  </div>
  <div class="small-12 medium-12 large-3 columns">
    <div class="panel" data-equalizer-watch="" style="height: 350px;">
		 <h5 class="subheader"><%=t :home_learn %></h5>
		 <p>
			 <%= link_to(t('links_bitcoins'), :bitcoins) %><br>
			 <%= link_to(t('links_wallets'), :wallets) %><br>
			 <%= link_to(t('links_howtobuy'), :howtobuy) %><br>
			 <%= link_to(t('links_howtosell'), :howtosell) %><br>
			 <%= link_to(t('links_howtoprotect'), :how) %><br>
		    <%= link_to(t('links_traditional'), :traditional) %><br>
			 <%= link_to(t('links_faq'), :faq) %><br><br>
		 </p>		 
    </div>
  </div>
  <div class="small-12 medium-12 large-3 columns">
    <div class="panel" data-equalizer-watch="" style="height: 350px;">
		 <h5 class="subheader"><%=t :home_about %></h5>
		 <p>
			 <%= link_to(t('links_aboutus'), :about) %><br>
			 <%= link_to(t('links_why'), :why) %><br>
			 <%= link_to(t('links_reviews'), :reviews) %><br>
			 <%= link_to(t('links_terms'), :terms) %><br>
			 <%= link_to(t('links_privacy'), :privacy) %><br>
		     <%= link_to(t('links_legal'), :legal) %><br>
			 <%= link_to(t('links_jobs'), :jobs) %><br>
			 <%= link_to(t('links_contact'), :contact) %><br>
			 <%= link_to(t('links_faq'), :faq) %><br><br>
		 </p>		 
    </div>
  </div>
  <!-- Twitter -->  
  <div class="small-12 medium-12 large-3 columns">
    <div data-equalizer-watch="" style="height: 450px;">
		 <a class="twitter-timeline" href="https://twitter.com/Bibicoins" data-widget-id="485197277737144320">Tweets by @BiBicoins</a>
		 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>

<script>
function updateBuyAmt()
{
	var twdAmt = document.getElementById("NTDBuy").value;
	var btcToTwd = "<%= @buyValue %>";
	var btcAmt = +twdAmt / +btcToTwd;
	document.getElementById("BTCBuy").innerHTML = parseFloat(+btcAmt).toFixed(5);
}

function updateSellAmt()
{
	var btcAmt = document.getElementById("NTDSell").value;
	var btcToTwd = "<%= @sellValue %>";
	var twdAmt = +btcAmt * +btcToTwd;
	document.getElementById("BTCSell").innerHTML = parseFloat(+twdAmt).toFixed(0);
}
</script>