<% provide(:title, 'Home') %>
		<%= image_tag("logo.png", :alt => "logo") %><br>

<div class="row">
  <div class="small-12 columns">
		 <%= image_tag("icon_lock.png", :alt => "Facebook") %> <%= link_to(t('links_howtoprotect'), :how) %><br><br> 		 		 		 
  </div>   
</div>	
<div class="row" data-equalizer="">
  <div class="small-12 columns">
    <div class="panel">	
		 <div class="small-12 columns">
			 <%=t :ticker_trading %>
			 <%=t :ticker_buy%><%= number_with_precision(@ratesHash["USD"], precision: 2) %>
			 <%=t :ticker_sell %><%= number_with_precision(@twdRatesHash["USD"], precision: 2) %>
			 <%=t :ticker_spot %><%= number_with_precision(@twdValue, precision: 2) %>
			 <%=t :ticker_open %><%= number_with_precision(@twdValue, precision: 2) %>
			 <%=t :ticker_change %><%= number_with_precision(@twdValue, precision: 2) %>
		 </div>	 		 		 		 		 
    </div>
  </div> 
</div>
<br>
<div class="row" data-equalizer="">
  <div class="medium-8 columns">
    <h5><%=t :home_slogan1 %></h5>
  </div>
  <div class="medium-4 columns">
    <%= image_tag("icon_fb.png", :alt => "Facebook") %> &nbsp;<%=t :home_facebook %><br><br>
  </div>  
</div>
<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :home_slogan2 %></h1>
	</div>
</div>

<div class="row" data-equalizer="">
  <div class="medium-3 columns">
    <div class="row" data-equalizer=""><%= image_tag("icon_cart.png", :alt => "Cart", :size => "40x40")%> <%= link_to(t('links_buy'), :buy) %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_computer.png", :alt => "Computer", :size => "40x40")%> <%= link_to(t('links_sell'), :buy) %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_questions.png", :alt => "Questions", :size => "40x40")%> <%= link_to(t('links_howtobuy'), :howtobuy) %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_questions.png", :alt => "Questions", :size => "40x40")%><%= link_to(t('links_howtosell'), :howtosell) %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_information.png", :alt => "Info", :size => "40x40")%> <%= link_to(t('links_bitcoins'), :bitcoins) %></div>
	 	 <div class="row" data-equalizer=""><%= image_tag("icon_wallets.png", :alt => "Wallet", :size => "40x40")%> <%= link_to(t('links_wallets'), :wallets) %> </div>
	 	 <div class="row" data-equalizer=""><%= image_tag("icon_bitcoin.png", :alt => "Why", :size => "40x40")%> <%= link_to(t('links_why'), :why) %></div>		 
  </div>
  <div class="medium-6 columns">
    <%= image_tag("home_bitcoin.png", :alt => "Bitcoins", :size => "450x500")%>
  </div>  
  <div class="medium-2 columns">
    <div class="row" data-equalizer=""><%=t :conversion_buy %></div>
	 <div class="row" data-equalizer=""><%=t :conversion_ntdamt %></div>
	 <div class="row" data-equalizer=""><%=t :conversion_convert %></div>
	 <div class="row" data-equalizer=""><%=t :conversion_btcamt %></div>
	 <div class="row" data-equalizer=""><%=t :conversion_sell %></div>
	 <div class="row" data-equalizer=""><%=t :conversion_btcamt %></div>
	 <div class="row" data-equalizer=""><%=t :conversion_convert %></div>
	 <div class="row" data-equalizer=""><%=t :conversion_ntdamt %></div>
  </div> 
  <div class="medium-1 columns">
    <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer=""><input type="text" placeholder="30,000"/></div>
	 <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer=""><input type="text" placeholder="30,000"/></div>
	 <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer="">&nbsp;</div>
  </div>      
</div>
<br><br>
<div class="row">
  <div class="small-12 columns"><h3><%= link_to(t('links_howtobuyfrombibicoin'), :howtobuy) %><h3></div>   
</div>
<div class="row">
  	<div class="small-3 columns"><%= link_to image_tag("step1.png"), :howtobuy, anchor: "#1" %><p><b><%=t :home_buystep1 %></b><br><%=t :home_buystep1a %></p></div>
  	<div class="small-3 columns"><%= link_to image_tag("step2.png"), :howtobuy %><p><b><%=t :home_buystep2 %></b><br><%=t :home_buystep2a %></p></div>
  	<div class="small-3 columns"><%= link_to image_tag("step3.png"), :howtobuy %><p><b><%=t :home_buystep3 %></b><br><%=t :home_buystep3a %></div>
	<div class="small-3 columns"><%= link_to image_tag("step4.png"), :howtobuy %><p><b><%=t :home_buystep4 %></b><br><%=t :home_buystep4a %></p></div> 
</div>

<div class="row">
  <div class="small-12 columns"><h3><%= link_to(t('links_howtosellfrombibicoin'), :howtosell) %></h3></div>   
</div>
<div class="row">
  	<div class="small-3 columns"><%= link_to image_tag("step1.png"), :howtosell, anchor: "#1" %><p><b><%=t :home_sellstep1 %><</b><br><%=t :home_sellstep1a %></p></div>
  	<div class="small-3 columns"><%= link_to image_tag("step2.png"), :howtosell %><p><b><%=t :home_sellstep2 %></b><br><%=t :home_sellstep2a %></p></div>
  	<div class="small-3 columns"><%= link_to image_tag("step3.png"), :howtosell %><p><b><%=t :home_sellstep3 %></b><br><%=t :home_sellstep3a %></div>
	<div class="small-3 columns"><%= link_to image_tag("step4.png"), :howtosell %><p><b><%=t :home_sellstep4 %></b><br><%=t :home_sellstep4a %></p></div> 
</div>			

<div class="row">
  <div class="small-12 columns"><h3><%=t :home_aboutbibicoin %><h3></div>   

<div class="small-12 columns"><p><%=t :home_aboutbibicoin_text %></p></div>
</div>
<div class="row">
  <div class="small-12 columns"><%= image_tag("bitcoin_graph.png", :alt => "Graph") %></div>   
</div>

<div id="before-content-area">
<div class="row">
  <div class="small-12 columns"><h3><%=t :home_newsfeed %><h3></div>   
</div>
<div class="row">
  <div class="small-12 columns">
	  <ul>
		  <% @rssNewsFeed.each do |item| %>
			<li><a href = <%= item.link %> target="_blank"> <%= item.title %> </a></li>
			<br/>
		  <% end %>
	  </ul>
  </div>   
</div>

	<div class="row">
  	 <div class="small-12 columns"><h3><%=t :home_btcnetworkdata %><h3></div>   
		</div>
		<div class="row">
		  <div class="small-12 columns">
			<% @stats.each do |stat| %>
				<%= stat %>
				<br />
			<% end %>
		  </div>   
		</div>
</div>
<br>
<div class="row" data-equalizer="">
  <div class="medium-3 columns">
    <div class="panel" data-equalizer-watch="" style="height: 295px;">
		 <h5><%=t :header_contact %>:</h5>
		 <p><%=t :home_contactus_text %></p>
		 <p>
			 <%=t :common_email %>: <%=t :common_email_value %><br>
			 <%=t :common_phone %>: <%=t :common_phone_value %><br>
			 <%=t :common_address %>: <%=t :common_address_value %><br>
		 </p>
    </div>
  </div>
  <div class="medium-3 columns">
    <div class="panel" data-equalizer-watch="" style="height: 295px;">
		 <h5><%=t :home_learn %></h5>
		 <p>
			 <%= link_to(t('links_bitcoins'), :bitcoins) %><br>
			 <%= link_to(t('links_wallets'), :wallets) %><br>
			 <%= link_to(t('links_howtobuy'), :howtobuy) %><br>
			 <%= link_to(t('links_howtosell'), :howtosell) %><br>
			 <%= link_to(t('links_howtoprotect'), :how) %><br>
		    <%= link_to(t('links_traditional'), :traditional) %><br>
			 <%= link_to(t('links_faq'), :faq) %><br><br>
		 </p>		 
    </div>
  </div>
  <div class="medium-3 columns">
    <div class="panel" data-equalizer-watch="" style="height: 295px;">
		 <h5><%=t :home_about %></h5>
		 <p>
			 <%= link_to(t('links_aboutus'), :about) %><br>
			 <%= link_to(t('links_why'), :why) %><br>
			 <%= link_to(t('links_reviews'), :reviews) %><br>
			 <%= link_to(t('links_faq'), :faq) %><br>
			 <%= link_to(t('links_terms'), :terms) %><br>
			 <%= link_to(t('links_privacy'), :privacy) %><br>
		    <%= link_to(t('links_legal'), :legal) %><br>
			 <%= link_to(t('links_jobs'), :jobs) %><br>
			 <%= link_to(t('links_contact'), :contact) %><br><br>
		 </p>		 
    </div>
  </div>  
  <div class="medium-3 columns">
    <div data-equalizer-watch="" style="height: 295px;">
		 <a class="twitter-timeline" href="https://twitter.com/BiBiCoin" data-widget-id="485197277737144320">Tweets by @BiBiCoin</a>
		 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
		
	

<ul class="tabs vertical" data-tab>

</ul>
<div class="tabs-content vertical">
  <div class="content" id="panel1a">
    <p>Panel 1 content goes here.</p>
  </div>
</div>
