<% provide(:title, 'Home') %>

<br>
<%=t :home_txt %>
<br>
<br>
<p>Links</p>
<br>
<p>
	<%= link_to "About Us", :about %> | 	
	<%= link_to "Contact Us", :contact %> | 
	<%= link_to "Career Opportunity Page (Jobs)", :jobs %> | 	
	<%= link_to "FAQs", :faq %> | 	
	<%= link_to "Reviews", :reviews %> | 
	<%= link_to "How to Protect Yourself Online", :how %> | 
	<%= link_to "How To Buy", :howtobuy %> | 
	<%= link_to "How To Sell", :howtosell %> | 
	<%= link_to "About Wallets", :wallets %> | 
	<%= link_to "About Bitcoins", :bitcoins %> | 
	<%= link_to "Terms & Conditions", :terms %> | 
	<%= link_to "Buy", :buy %> | 
	<%= link_to "Sell", :sell %> | 
	<%= link_to "Privacy Policy", :privacy %> | 
	<%= link_to "Legal", :legal %> | 
	<%= link_to "Why Choose Bibicoins?", :why %> | 
	<%= link_to "News", :news %>  
	
</p>
<br>

<a class="twitter-timeline" href="https://twitter.com/BiBiCoin" data-widget-id="485197277737144320">Tweets by @BiBiCoin</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>