<% provide(:title, 'Home') %>
		<%= image_tag("logo.png", :alt => "logo") %><br>

<div class="row">
  <div class="small-8 columns"></div> 
  <div class="small-4 columns" end>
		 <%= image_tag("icon_lock.png", :alt => "Facebook") %>&nbsp;<%= link_to "How to Protect Yourself Online?", :how %><br><br> 		 		 		 		 
  </div>   
</div>	
<div class="row" data-equalizer="">
  <div class="small-12 columns">
    <div class="panel">
	
		 <div class="small-2 columns">Bitcoin Trading</div>
		 <div class="small-2 columns">BTC to USD Rate: <%= @ratesHash["USD"] %></div>
		 <div class="small-2 columns">USD to NTD: <%= @twdRatesHash["USD"] %> </div>
		 <div class="small-2 columns">NTD to BTC: <%= @twdValue %></div> 
		 <div class="small-2 columns">OPEN: NTD 13,500</div>
		 <div class="small-2 columns">CHANGE: NTD -300.00</div>		 		 		 		 		 
    </div>
  </div> 
</div>
<br>
<div class="row" data-equalizer="">
  <div class="medium-8 columns">
    <h5>Fast, low cost and trustworthy way to buy and sell bitcoins in Taiwan!</h5>
  </div>
  <div class="medium-4 columns">
    <%= image_tag("icon_fb.png", :alt => "Facebook") %> &nbsp;Bibicoins Taiwan fan page!<br><br>
  </div>  
</div>

<div class="row" data-equalizer="">
  <div class="medium-3 columns">
    <div class="row" data-equalizer=""><%= image_tag("icon_cart.png", :alt => "Cart", :size => "40x40")%> <%= link_to "Buy Bitcoin", :buy %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_computer.png", :alt => "Computer", :size => "40x40")%> <%= link_to "Sell Bitcoin", :sell %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_questions.png", :alt => "Questions", :size => "40x40")%> <%= link_to "How to Buy?", :howtobuy %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_questions.png", :alt => "Questions", :size => "40x40")%><%= link_to "How to Sell?", :howtosell %></div>
	 <div class="row" data-equalizer=""><%= image_tag("icon_information.png", :alt => "Info", :size => "40x40")%> <%= link_to "About Bitcoins", :bitcoins %></div>
	 	 <div class="row" data-equalizer=""><%= image_tag("icon_wallets.png", :alt => "Wallet", :size => "40x40")%> <%= link_to "About Wallets", :wallets %> </div>
	 	 <div class="row" data-equalizer=""><%= image_tag("icon_bitcoin.png", :alt => "Why", :size => "40x40")%> <%= link_to "Why Choose Bibicoin?", :why %></div>		 
  </div>
  <div class="medium-6 columns">
    <%= image_tag("home_bitcoin.png", :alt => "Bitcoins", :size => "450x500")%>
  </div>  
  <div class="medium-2 columns">
    <div class="row" data-equalizer="">Buy Conversion</div>
	 <div class="row" data-equalizer="">NTD Amount: </div>
	 <div class="row" data-equalizer="">Conversion Rate:</div>
	 <div class="row" data-equalizer="">Bitcoin amount:</div>
	 <div class="row" data-equalizer="">Sell Conversion</div>
	 <div class="row" data-equalizer="">Bitcoin Amount:</div>
	 <div class="row" data-equalizer="">Conversion Rate:</div>
	 <div class="row" data-equalizer="">NTD Amount:</div>
  </div> 
  <div class="medium-1 columns">
    <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer=""><input type="text" placeholder="30,000"/></div>
	 <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer=""><input type="text" placeholder="30,000"/></div>
	 <div class="row" data-equalizer="">&nbsp;</div>
	 <div class="row" data-equalizer="">&nbsp;</div>
  </div>      
</div>
<br><br>
<div class="row">
  <div class="small-12 columns"><h3><%= link_to(t('links_howtobuyfrombibicoin'), :buy) %><h3></div>   
</div>
<div class="row">
  	<div class="small-3 columns"><%= link_to image_tag("step1.png"), :buy %><p><b>Get a Bitcoin Wallet</b><br>To begin, you will need a Bitcoin “wallet” to receive and store your Bitcoins.</p></div>
  	<div class="small-3 columns"><%= link_to image_tag("step2.png"), :buy %><p><b>Place Your Order</b><br>Fill out a “Buy Bitcoins” form to submit an order.  You will need to enter your wallet address to receive your Bitcoins and your email address for us to send you an email confirmation.</p></div>
  	<div class="small-3 columns"><%= link_to image_tag("step3.png"), :buy %><p><b>Make a deposit/transfer</b><br>Make a deposit at Bibicoins’ local Taiwan bank account. Deposits can be made through ATM or your local Taiwan Bank.</div>
	<div class="small-3 columns"><%= link_to image_tag("step4.png"), :buy %><p><b>Make a deposit/transfer</b><br>Once we have confirmed your deposit. your Bitcoins will arrive in the wallet  address</p></div> 
</div>

<div class="row">
  <div class="small-12 columns"><h3><%= link_to(t('links_howtosellfrombibicoin'), :buy) %></h3></div>   
</div>
<div class="row">
  	<div class="small-3 columns"><%= link_to image_tag("step1.png"), :buy %><p><b>Place a Sell Request</b><br>Fill out a quick “Sell Bitcoins”  form to submit an order.</p></div>
  	<div class="small-3 columns"><%= link_to image_tag("step2.png"), :buy %><p><b>Confirm Your Order</b><br>Bibicoins will provide you with a unique Bitcoin wallet address which will allow you to transfer your Bitcoins to us.</p></div>
  	<div class="small-3 columns"><%= link_to image_tag("step3.png"), :buy %><p><b>Transfer Your Bitcoins</b><br>Transfer the amount in Bitcoins to the unique wallet address provided in your order confirmation.</div>
	<div class="small-3 columns"><%= link_to image_tag("step4.png"), :buy %><p><b>Make a deposit/transfer</b><br>Once we have confirmed your deposit. your Bitcoins will arrive in the wallet  address</p></div> 
</div>			

<div class="row">
  <div class="small-12 columns"><h3>About Bibicoins<h3></div>   
</div>
<div class="row">
  <div class="small-12 columns"><%= image_tag("bitcoin_graph.png", :alt => "Graph") %></div>   
</div>

<div id="before-content-area">
<div class="row">
  <div class="small-12 columns"><h3>News Feed<h3></div>   
</div>
<div class="row">
  <div class="small-12 columns">
	  <ul>
		  <li>Mobile Payments Giant Square Introduces ‘Pay with Bitcoin’ Option on Square Market</li>
		  <li>PBOC Officials Discuss Bitcoin as China’s Central Bank Stays Silent on Rumours</li>
		  <li>Mobile Gamers Can Now Buy In-Game Perks with BTC Through SuperRewards</li>
		  <li>‘Micky’ Malka on How Bitcoin Can Help the World’s Unbanker</li>
	  </ul>
  </div>   
</div>

	<div class="row">
  	 <div class="small-12 columns"><h3>Bitcoin Network Data<h3></div>   
		</div>
		<div class="row">
		  <div class="small-12 columns">
			Bitcoin<br>
			Litecoin<br>
			Total blocks 293,502<br>
			Total bitcoins 12,587,525<br>
			Current reward per block 25 XBT ($11,471)<br>
			Network difficulty 5,006,860,800<br>
			Market cap $5,775,502,626.94 <br>
			First block mined 2009-01-03 <br>
			Last 24 hours <br>
			Number of blocks 182<br>
			Avg. blocks per hour 7<br>
			Avg. time to mine a block 07m 54s<br>
			Latest block creation time 2014-04-01 02:10:06<br>
			Time taken to mine latest block 59m 49s<br>
			Avg. transactions per hour 2,691<br>
			Number of transactions 64,606<br><br><br>
		  </div>   
		</div>
</div>

<div class="row" data-equalizer="">
  <div class="medium-4 columns">
    <div class="panel" data-equalizer-watch="" style="height: 295px;">
		 <h5>Contact Us:</h5>
		 <p>For any questions or concerns regarding our site or any other questions, please kindly email or call us at the below email and number.  Looking forward to speaking to you soon!</p>
		 <p>
			 Email: Bibicoins@gmail.com <br>
			 Phone: +886 989 627 705<br>
			 Address: Zhongxiao Dong Lu, Unit 18/C<br>
		 </p>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel" data-equalizer-watch="" style="height: 295px;">
		 <h5>Learn About Bitcoin:</h5>
		 <p>
			 <%= link_to "About Bitcoins", :bitcoins %><br><br>
			 <%= link_to "About Wallets", :wallets %><br><br>
			 <%= link_to "About Bibicoins", :about %><br><br>
			 <%= link_to "FAQ", :faq %><br><br><br>
		 </p>		 
    </div>
  </div>
  <div class="medium-4 columns">
    <div data-equalizer-watch="" style="height: 295px;">
		 <a class="twitter-timeline" href="https://twitter.com/BiBiCoin" data-widget-id="485197277737144320">Tweets by @BiBiCoin</a>
		 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
		
	

<ul class="tabs vertical" data-tab>

</ul>
<div class="tabs-content vertical">
  <div class="content" id="panel1a">
    <p>Panel 1 content goes here.</p>
  </div>
</div>
