<%= render 'layouts/header', :locals => {:page_header => t('header_how')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-12 medium-9 large-9 columns">
			<p><%=t :how_b1 %></p>
			<p><%=t :how_b2 %></p>
			<p><%=t :how_b3 %></p>
			<ul>
				<li><b><%=t :how_b4 %></b></li>
				<li><%=t :how_b5 %></li>
				<li><%=t :how_b6 %></li>
			</ul>
			<p><%=t :how_b7 %></p>
			<p><%=t :how_b8 %></p>
	  </div> 	  
	  <div class="small-12 medium-3 large-3 columns">
		<div class="hide-for-small-only">
			<h4 class="subheader"><%=t :links_learnaboutbitcoin %></h4>
			<ul>
				<%= render 'layouts/learn_menu'%>
			</ul>
		</div>		  
	  </div> 	  
	</div>	
</div>
