<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :header_how %></h1>
	</div>
</div>

<div id="before-content-area">
	<p><%=t :how_b1 %></p>
	<p><%=t :how_b2 %></p>
	<p><%=t :how_b3 %></p>
	<p><%=t :how_b4 %></p>
	<p><%=t :how_b5 %></p>
	<p><%=t :how_b6 %></p>
	<p><%=t :how_b7 %></p>
	<p><%=t :how_b8 %></p>
</div>
