<%= render 'layouts/header', :locals => {:page_header => t('header_how')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-9 columns">
			<p><%=t :how_b1 %></p>
			<p><%=t :how_b2 %></p>
			<p><%=t :how_b3 %></p>
			<ul>
				<li><b><%=t :how_b4 %></b></li>
				<li><%=t :how_b5 %></li>
				<li><%=t :how_b6 %></li>
			</ul>
			<p><%=t :how_b7 %></p>
			<p><%=t :how_b8 %></p>
	  </div> 	  
	  <div class="small-3 columns">
		<h4><%=t :links_learnaboutbitcoin %></h4>
		<ul class="bibicoin-sidebar">
			<%= render 'layouts/learn_menu'%>
		</ul>		  
	  </div> 	  
	</div>	
</div>
