<%= render 'layouts/header', :locals => {:page_header => t('header_howtobuy')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-9 columns">
			<h4><%=t :howtobuy_h1 %></h4>
			<p><%=t :howtobuy_b1 %></p>
			<p><a name="1"><%=t :howtobuy_h2 %></a></p>
			<p><%=t :howtobuy_b2 %></p>
			<p><%=t :howtobuy_b2_1 %></p>
			<p><a name="2"><%=t :howtobuy_h3 %></a></p>
			<p><%=t :howtobuy_b3 %></p>
			<p><%=t :howtobuy_h4 %></p>
			<p><%=t :howtobuy_b4 %></p>
			<p><%=t :howtobuy_b4_1 %></p>
			<p><%=t :howtobuy_h5 %></p>
			<p><%=t :howtobuy_b5 %></p>
			<h4><%=t :howtobuy_h6 %></h4>
			<p><%=t :howtobuy_b6 %></p>
  </div> 	  
	  <div class="small-3 columns">
		<h4>Learn About Bitcoin</h4>
		<ul class="bibicoin-sidebar">
			<%= render 'layouts/learn_menu'%>
		</ul>		  
	  </div> 	  
	</div>	
</div>