<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :header_howtosell %></h1>
	</div>
</div>

<div id="before-content-area">
	<h4><%=t :howtosell_h1 %></h4>
	<p><%=t :howtosell_b1 %></p>
	<p><%=t :howtosell_h2 %></p>
	<p><%=t :howtosell_b2 %></p>
	<p><%=t :howtosell_h3 %></p>
	<p><%=t :howtosell_b3 %></p>
	<p><%=t :howtosell_h4 %></p>
	<p><%=t :howtosell_b4 %></p>
	<p><%=t :howtosell_h5 %></p>
	<p><%=t :howtosell_b5 %></p>
	<p><%=t :howtosell_b5_1 %></p>
	<h4><%=t :howtosell_h6 %></h4>
	<p><%=t :howtosell_b6 %></p>
</div>