<%= render 'layouts/header', :locals => {:page_header => t('header_howtosell')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-12 medium-9 large-9 columns">
			<h4 class="subheader"><%=t :howtosell_h1 %></h4>
			<p><%=t :howtosell_b1 %></p><br>
			<p><b><%=t :howtosell_h2 %></b></p><br>
			<p><%=t :howtosell_b2 %><%= link_to(t('howtosell_b2a'), :sell) %><%=t :howtosell_b2b %></p><br>
			<p><b><%=t :howtosell_h3 %></b></p><br>
			<p><%=t :howtosell_b3 %></p><br>
			<p><b><%=t :howtosell_h4 %></b></p><br>
			<p><%=t :howtosell_b4 %></p><br>
			<p><b><%=t :howtosell_h5 %></b></p><br>
			<p><%=t :howtosell_b5 %></p><br>
			<p><%=t :howtosell_b5a%><%= link_to(t('howtosell_b5b'), :contact) %><%=t :howtosell_b5c%></p><br>
			<p><b><%=t :howtosell_h6 %></b></p><br>
			<p><%=t :howtosell_b6 %><%= link_to(t('howtosell_b6a'), :terms) %><%=t :howtosell_b6b %><%= link_to(t('howtosell_b6c'), :contact) %><%=t :howtosell_b6d %></p><br>
	  </div> 	  
	  <div class="small-12 medium-3 large-3 columns">
		<div class="hide-for-small-only">
			<h4 class="subheader"><%=t :links_learnaboutbitcoin %></h4>
			<ul>
				<%= render 'layouts/learn_menu'%>
			</ul>		  
		</div>  
	  </div> 	  
	</div>	
</div>