<%= render 'layouts/header', :locals => {:page_header => t('header_legal')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-12 medium-9 large-9 columns">
			<h4 class="subheader"><%=t :legal_h1 %></h4>
			<p><%=t :legal_b1 %><%= link_to(t('legal_b1a'), t('legal_b1a'), :target => "_blank") %></p>
			<h4 class="subheader"><%=t :legal_h2 %></h4>
			<p><%=t :legal_b2 %></p>	
			<p><%=t :legal_b2_1 %></p>
			<p><%=t :legal_b2_2 %></p>
			<ol>
				<li><%=t :legal_b2_3 %></li>
				<li><%=t :legal_b2_4 %></li>
			</ol>
			<h4 class="subheader"><%=t :legal_h3 %></h4>
			<ol>
				<li><%=t :legal_b3 %></li>
				<li><%=t :legal_b3_1 %></li>
				<li><%=t :legal_b3_2 %></li>
				<li><%=t :legal_b3_3 %></li>
				<li><%=t :legal_b3_4 %></li>
				<li><%=t :legal_b3_5 %></li>		
			</ol>
			<p><%=t :legal_h4 %><a href="mailto:bibicoins@gmail.com"><%=t :legal_email %></a></p>
			<p><%=t :legal_b4 %></p>
	  </div> 	  
	  <div class="small-12 medium-3 large-3 columns">
	  	<div class="hide-for-small-only">
			<h4 class="subheader"><%=t :links_about %></h4>
			<ul>
				<%= render 'layouts/about_menu'%>
			</ul>
		</div>		  
	  </div>
	</div>	
</div>
