<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :header_legal %></h1>
	</div>
</div>

<div id="before-content-area">
	<h4><%=t :legal_h1 %></h4>
	<p><%=t :legal_b1 %></p>
	<h4><%=t :legal_h2 %></h4>
	<p><%=t :legal_b2 %></p>	
	<p><%=t :legal_b2_1 %></p>
	<p><%=t :legal_b2_2 %></p>
	<ol>
		<li><%=t :legal_b2_3 %></li>
		<li><%=t :legal_b2_4 %></li>
	</ol>
	<h4><%=t :legal_h3 %></h4>
	<ol>
		<li><%=t :legal_b3 %></li>
		<li><%=t :legal_b3_1 %></li>
		<li><%=t :legal_b3_2 %></li>
		<li><%=t :legal_b3_3 %></li>
		<li><%=t :legal_b3_4 %></li>
		<li><%=t :legal_b3_5 %></li>		
	</ol>
	<p><%=t :legal_h4 %><a href="mailto:Complianceofficer@bibicoins.com.tw"><%=t :legal_email %></a></p>
	<p><%=t :legal_b4 %></p>
</div>
