<%= render 'layouts/header', :locals => {:page_header => t('header_reviews')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-12 medium-9 large-9 columns">
	    <br>
		<blockquote><%=t :reviews_h1 %><cite>Wayne Leung</cite></blockquote>
		<blockquote><%=t :reviews_h2 %><cite>Wayne Leung</cite></blockquote>
		<blockquote><%=t :reviews_h3 %><cite>Wayne Leung</cite></blockquote>
	  </div> 	  
	  <div class="small-12 medium-3 large-3 columns">
	  	<div class="hide-for-small-only">
			<h4><%=t :links_about %></h4>
			<ul>
				<%= render 'layouts/about_menu'%>
			</ul>	
		</div>	  
	  </div>
	</div>	
</div>