<%= render 'layouts/header', :locals => {:page_header => t('header_terms')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-9 columns">
	<h4><%=t :terms_h1 %></h4>
	<p><%=t :terms_b1 %></p>
	<p><%=t :terms_b1_1 %></p>
	<ul>
		<li><%=t :terms_b1_2 %></li>
		<li><%=t :terms_b1_3 %></li>
		<li><%=t :terms_b1_4 %></li>
		<li><%=t :terms_b1_5 %></li>
		<li><%=t :terms_b1_6 %></li>
		<li><%=t :terms_b1_7 %></li>
		<li><%=t :terms_b1_8 %></li>
	</ul>
	<h4><%=t :terms_h2 %></h4>
	<p><%=t :terms_b2 %></p>
	<h4><%=t :terms_h3 %></h4>
	<p><%=t :terms_b3 %></p>
	<ul>
		<li><%=t :terms_b3_1 %></li>
		<li><%=t :terms_b3_2 %></li>
		<li><%=t :terms_b3_3 %></li>
		<li><%=t :terms_b3_4 %></li>
		<li><%=t :terms_b3_5 %></li>
	</ul>
	<p><%=t :terms_b3_6 %></p>	
	<h4><%=t :terms_h4 %></h4>
	<p><%=t :terms_b4 %><%= link_to(t('terms_b4a'), :privacy) %><%=t :terms_b4b %></p>
	<h4><%=t :terms_h5 %></h4>
	<p><%=t :terms_b5 %></p>
	<h4><%=t :terms_h6 %></h4>
	<p><%=t :terms_b6 %></p>
	<h4><%=t :terms_h7 %></h4>
	<p><%=t :terms_b7 %></p>
	<h4><%=t :terms_h8 %></h4>
	<p><%=t :terms_b8 %></p>
	<h4><%=t :terms_h9 %></h4>
	<p><%=t :terms_b9 %></></p>
	  </div> 	  
	  <div class="small-3 columns">
		<h4><%=t :links_about %></h4>
		<ul class="bibicoin-sidebar">
			<%= render 'layouts/about_menu'%>
		</ul>		  
	  </div>
	</div>	
</div>