<%= render 'layouts/header', :locals => {:page_header => t('header_wallets')} %>

<div id="before-content-area">
	<div class="row">
	  <div class="small-9 columns">
	<p><%=t :wallets_h1 %></p>
	<p><%=t :wallets_b1 %></p>
	<p><%=t :wallets_h2 %></p>
	<p><%=t :wallets_b2 %></p>	
	<div id="before-content-area">
		<div class="row">
		  	<div class="small-2 columns"><%= image_tag("bw_globe.png", :alt => "P. Chen") %></div>
		  	<div class="small-10 columns">
				<h4><%=t :wallets_h3 %></h4>
				<p><%=t :wallets_b3 %></p>
				<p><%=t :wallets_b3_1 %></p>			
			</div>
		</div>
		<div class="row">
		  	<div class="small-2 columns"><%= image_tag("bw_computer.png", :alt => "V. Ha") %></div>
		  	<div class="small-10 columns">
				<h4><%=t :wallets_h4 %></h4>	
				<p><%=t :wallets_b4 %></p>					
			</div>
		</div>
		<div class="row">
		  	<div class="small-2 columns"><%= image_tag("bw_mobile.png", :alt => "W. Leung") %></div>
		  	<div class="small-10 columns">
				<h4><%=t :wallets_h5 %></h4>
				<p><%=t :wallets_b5 %></p>
			</div>
		</div>	
	</div>

	<h4><%=t :wallets_h6 %></h4>
	<p><%=t :wallets_b6 %></p>
	<p><%=t :wallets_h7 %></p>
	<p><%=t :wallets_b7 %></p>
	<p><%=t :wallets_b7_1 %></p>
	<h4><%=t :wallets_h8 %></h4>
	<p><%=t :wallets_b8 %></p>
	<h4><%=t :wallets_h9 %></h4>
	<p><%=t :wallets_b9 %></p>
	<h4><%=t :wallets_h10 %></h4>
	<p><%=t :wallets_b10 %></p>
	<p><%=t :wallets_h11 %></p>
	<p><a href="http://howsecureismypassword.net/"><%=t :wallets_b11 %></a></p>
	<h4><%=t :wallets_h12 %></h4>
	<p><%=t :wallets_b12 %></p>
	<h4><%=t :wallets_h13 %></h4>
	<p><%=t :wallets_b13 %></p>
	<h4><%=t :wallets_h14 %></h4>
	<p><%=t :wallets_b14 %></p>
	<h4><%=t :wallets_h15 %></h4>
	<p><%=t :wallets_b15 %></p>
	<h4><%=t :wallets_h16 %></h4>
	<p><%=t :wallets_b16 %></p>
	<h4><%=t :wallets_h17 %></h4>
	<p><%=t :wallets_b17 %></p>
	<h4><%=t :wallets_h18 %></h4>
	<p><%=t :wallets_b18 %></p>
	  </div> 	  
	  <div class="small-3 columns">
		<h4>Learn About Bitcoin</h4>
		<ul class="bibicoin-sidebar">
			<%= render 'layouts/learn_menu'%>
		</ul>		  
	  </div> 	  
	</div>		
</div>