<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :header_why %></h1>
	</div>
</div>

<div id="before-content-area">
	<p><%=t :why_h1 %></p>
	<p><%=t :why_h2 %></p>
	<p><%=t :why_h3 %></p>
	<p><%=t :why_h4 %></p>
	<p><%=t :why_h5 %></p>
</div>
