<%= image_tag("http://fierce-ocean-4305.herokuapp.com/assets/logo-420f3b8fd3482d0880827ed0e4d2a9db.png", size: "200x200", :alt => "BiBicoins Logo") %>

<% if @transaction.transaction_type_id == 0 %>
	<div id="before-content-area" class="bibicoin-header-bg-orange">
		<h1><%=t :buy_email_header %></h1>
	</div>
<% elsif @transaction.transaction_type_id == 1 %>
	<div id="before-content-area" class="bibicoin-header-bg-orange">
		<h1><%=t :sell_email_header %></h1>
	</div>
<% end %>

<% if @transaction.transaction_type_id == 0 %>
	<div>
		<p><%=t :buy_email_b1 %><b><%= @transaction.name %></b><%=t :buy_email_b1a %><b><%= @transaction.id %></b><%=t :buy_email_b1b %><b><%= @transaction.created_at %></b><%=t :buy_email_b1c %></p>
	</div>
	<div>
		<table>
			<tr>
				<td width="200"><%=t :form_buyrate %></td>
				<td><%= number_with_precision(@transaction.TWDAmt/@transaction.BTCAmt, precision: 4) %></td>
			</tr>
			<tr>
				<td><%=t :form_purchaseamt %></td>
				<td>NTD <%= @transaction.TWDAmt%></td>
			</tr>
			<tr>
				<td><%=t :form_btcamount %></td>
				<td><%= @transaction.BTCAmt %> Bitcoins</td>
			</tr>
			<tr>
				<td><%=t :form_wallet %></td>
				<td><%= @transaction.walletID %></td>
			</tr>						
		</table>
	</div>
	<div>
	<p><%=t :buy_email_b2 %><b><%= @transaction.TWDAmt%></b><%=t :buy_email_b2a %><b><%= @transaction.id %></b><%=t :buy_email_b2b %></p>
	</div>
	<div>
		<table>
			<tr>
				<td width="200"><%=t :form_makedepositto %></td>
				<td><%=t :form_bankinfo %></td>
			</tr>
			<tr>
				<td><%=t :form_orderid %></td>
				<td><%= @transaction.id %></td>
			</tr>
		</table>
	</div>
	<div>
		<p><%=t :buy_email_b3 %></p>
		<p><%=t :buy_email_b4 %></p><br>
		<p><b><%=t :buy_email_b5 %></b></p>
		<p><%=t :buy_email_b6 %></p>
		<p><%=t :buy_email_b7 %></p>
	</div>
<% elsif @transaction.transaction_type_id == 1 %>
	<div>
		<p><%=t :sell_email_b1 %><b><%= @transaction.name %></b><%=t :sell_email_b1a %><b><%= @transaction.id %></b><%=t :sell_email_b1b %><b><%= @transaction.created_at %></b><%=t :sell_email_b1c %></p><br>
	</div>
	<div>
		<table>
			<tr>
				<td width="200"><%=t :form_sellrate %></td>
				<td><%= number_with_precision(@transaction.BTCAmt/@transaction.TWDAmt, precision: 4) %></td>
			</tr>
			<tr>
				<td><%=t :form_sellamt %></td>
				<td>NTD <%= @transaction.TWDAmt %></td>
			</tr>
			<tr>
				<td><%=t :form_btcamount %></td>
				<td><%= @transaction.BTCAmt %> Bitcoins</td>
			</tr>						
			<tr>
				<td><%=t :form_wallet %> </td>
				<td><%= @transaction.walletID %></td>
			</tr>						
			<tr>
				<td><%=t :form_bankname %></td>
				<td><%= @transaction.bankName %></td>
			</tr>						
			<tr>
				<td><%=t :form_name %> </td>
				<td><%= @transaction.name %></td>
			</tr>						
			<tr>
				<td><%=t :form_sellaccountnumber %></td>
				<td><%= @transaction.bankAcctNumber %></td>
			</tr>						
		</table>
	</div>

	<div>
		<p><%=t :sell_email_b2 %></p>
	</div>
	<div>
		<table>
			<tr>
				<td width="200"><%=t :form_sellbibiwallet %></td>
				<td><%=t :common_wallet %></td>
			</tr>
		</table>
	</div>
	<div>	
		<p><%=t :sell_email_b3 %></p>
		<p><%=t :buy_email_b4 %></p><br>
		<p><b><%=t :buy_email_b5 %></b></p>
		<p><b><%=t :buy_email_b6 %></b></p>
		<p><%=t :buy_email_b7 %></p>
	</div>
<% end %>