<p> Transaction </p>
<p> ID: <%= @transaction.id %> </p>
<p> Name: <%= @transaction.name %> </p>
<p> Email: <%= @transaction.email %> </p>
<p> BTC Amount: <%= @transaction.BTCAmt %> </p>
<p> NTD Amount: <%= @transaction.TWDAmt + @transaction.commAmt %> </p>

<p> Thank you </p>