<div>
	<% if @transaction.transaction_type_id == 0 %>
		<div id="before-content-area" class="bibicoin-header-bg-orange">
			<h1><%=t :header_buy %></h1>
		</div>
	<% elsif @transaction.transaction_type_id == 1 %>
		<div id="before-content-area" class="bibicoin-header-bg-orange">
			<h1><%=t :header_sell %></h1>
		</div>
	<% end %>	

	<% if @transaction.transaction_type_id == 0 %>

	<div>
		<div id="before-content-area">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue"><b><%=t :buy_step1 %></b> <%=t :buy_step1_text %></div></div>
		     	<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue-active"><b><%=t :buy_step2 %></b> <%=t :buy_step2_text %></div></div>
		     	<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue"><b><%=t :buy_step3 %></b> <%=t :buy_step3_text %></div></div>
	     	</div>
		</div>
	</div>	

	<% elsif @transaction.transaction_type_id == 1 %>

	<div>
		<div id="before-content-area">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue"><%=t :sell_step1 %> <%=t :sell_step1_text %></div></div>
		     	<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue-active"><%=t :sell_step2 %> <%=t :sell_step2_text %></div></div>
		     	<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue"><%=t :sell_step3 %> <%=t :sell_step3_text %></div></div>
	     	</div>
		</div>
	</div>	

	<% end %>

	<div id="before-content-area">
		<div class="row">
		  <div class="small-12 medium-6 large-6 columns">

			<%= form_for @transaction do |f|  %>
					<fieldset>
					<!-- Buy: allow inputs form both sides and change values as needed -->	
					<% if @transaction.transaction_type_id == 0 %>

					<legend><%=t :header_buy %></legend>
					
					<div class="row">
						 <div class="purchaseamt-field">		
							 <div class="large-4 columns"><label><%=t :form_purchaseamt %></label></div>
							 <div class="large-4 columns">
							 	<label><%= f.label :TWDAmt, t('form_ntdamt') %></label>
							 	<%= f.text_field :TWDAmt, :readonly => true %>
							 </div>						 
							 <div class="large-4 columns">
							 	<label><%= f.label :BTCAmt, t('form_btcamt') %></label>
							 	<%= f.text_field :BTCAmt, :readonly => true %>
							 </div>
						 </div>
					</div>			
			    	<div class="wallet-field">		    	
					<label>
					<a href="#" data-reveal-id="walletModal"><%=t :form_wallet %></a><br><br>
						<div id="walletModal" class="reveal-modal" data-reveal>
						  <h2><%=t :form_wallet_1 %></h2>
						  <p class="lead"><%=t :form_wallet_2 %></p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
			    		<%= f.text_field :walletID, :readonly => true %>
			    	</label>
			    	</div>	
			    	<div class="email-field">		    	
						<label><%= f.label :email, t('form_email') %><br>
				    		<%= f.text_field :email, :readonly => true %>
				    	</label>
			    	</div>	
			    	<div class="name-field">		    	
						<label><%= f.label :name, t('form_name') %><br>
				    		<%= f.text_field :name, :readonly => true %>
				    	</label>
			    	</div>	
			    	<div class="birthdate-field">		    	
						<label><%= f.label :DoB, t('form_birthdate') %><br>
				    		<%= f.date_field:DoB, :readonly => true  %>
				    	</label>
			    	</div>	
			    	<div class="paymentmethod-field">		    	
					<label>
					<a href="#" data-reveal-id="paymentModal"><%=t :form_payment %></a><br><br>
						<div id="paymentModal" class="reveal-modal" data-reveal>
						  <h2><%=t :form_payment_1 %></h2>
						  <p class="lead"><%=t :form_payment_2 %></p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
			    		<%=t :form_bankinfo %><br>
			    		<%=t :form_bankinfo_1 %><br>
			    		<%=t :form_bankinfo_2 %><br><br>
			    	</label>
			    	</div>	
		

					<!-- Sell -->
			    	<% elsif @transaction.transaction_type_id == 1 %>

					<legend><%=t :header_sell %></legend>
					
					<div class="row">
						 <div class="sellamt-field">		
							 <div class="large-4 columns"><label><%=t :form_sellamt %></label></div>
							 <div class="large-4 columns">
							 	<label><%= f.label :BTCAmt, t('form_btcamt') %></label>
							 	<%= f.text_field :BTCAmt, :readonly => true %>
							 </div>
							 <div class="large-4 columns">
							 	<label><%= f.label :TWDAmt, t('form_ntdamt') %></label>
							 	<%= f.text_field :TWDAmt, :readonly => true %>
							 </div>						 
						 </div>
					</div>			
			    	<div class="wallet-field">		    	
					<label>
					<a href="#" data-reveal-id="walletModal"><%=t :form_wallet %></a><br><%=t :sell_returnbitcoin%><br><br>
						<div id="walletModal" class="reveal-modal" data-reveal>
						  <h2><%=t :form_wallet_1 %></h2>
						  <p class="lead"><%=t :form_wallet_2 %></p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
			    		<%= f.text_field :walletID, :readonly => true %>
			    	</label>
			    	</div>	
			    	<div class="email-field">		    	
						<label><%= f.label :email, t('form_email') %><br>
				    		<%= f.text_field :email, :readonly => true %>
				    	</label>
			    	</div>	
			    	<div class="name-field">		    	
						<label><%= f.label :name, t('form_name') %><br>
				    		<%= f.text_field :name, :readonly => true %>
				    	</label>
			    	</div>	
			    	<div class="birthdate-field">		    	
						<label><%= f.label :DoB, t('form_birthdate') %><br>
				    		<%= f.date_field:DoB, :readonly => true  %>
				    	</label>
			    	</div>	
			    	<div class="bankintro-field">		    	
						<label><%=t :sell_bankdepositdetails%><br><a href="#"><%=t :sell_howtosell%></a><br><br></label>
			    	</div>	
			    	<div class="bankname-field">		    	
						<label><%= f.label :bankName, t('form_bankname') %><br>
				    		<%= f.text_field :bankName, :readonly => true %>
				    	</label>
			    	</div>
		    		<div class="banknumber-field">		    	
						<label><%= f.label :bankAcctNumber, t('form_banknumber') %><br>
				    		<%= f.text_field :bankAcctNumber, :readonly => true %>
				    	</label>
			    	</div>

			    	<% end %>

			    	<!-- Common -->

			    	<%= f.hidden_field :transaction_type_id, :value => @transaction.transaction_type_id %>
					<%= f.hidden_field :bibicoinBTCtoTWD, :value => @transaction.bibicoinBTCtoTWD %>

					<!-- TODO: Needs real logic added after --> 
		    		<div class="captcha-field">		    	
						<%= raw recaptcha_tags %><br><br>
			    	</div>

			    	<div class="terms-field">		    	
						<label><%= f.check_box :agreeTerms, :required=>true %> <%=t :form_terms %><%= link_to(t('form_terms_1'), :terms) %><%=t :form_terms_2 %>
				    	</label><br>			    	
			    	</div>	

			    	<!-- TODO: Section for Validation for Debugging - Remove after for production -->
			    	<div class="temp-field">		    	
						<label><b>BiBicoins Commisions</b></label><br>
			    	</div>	

			    	<div class="totalamount-field">		    	
						<label><%= f.label :totalAmt,  "Total Amount" %><br>
				    		<p id = "totalAmt"><%= number_with_precision(@transaction.TWDAmt + @transaction.commAmt, precision: 0) %><br>
				    	</label>
			    	</div>	

			    	<div class="commission-field">		    	
						<label><%= f.label :commAmt,  "Commision Amount" %><br>
				    		<%= f.text_field :commAmt, :readonly => true %>
				    	</label>
			    	</div>	

			    	<div class="rate-field">		    	
						<label>1 BTC to TWD Rate: <%= number_with_precision(@transaction.bibicoinBTCtoTWD, precision: 0) %></label><br>
			    	</div>

			    	</fieldset>			    	
			<%= f.button t('form_back'), :class => 'button small large-3', :onclick => 'history.go(-1);return false;'  %>
			<%= f.submit t('form_confirmsubmit'), :class => 'button small large-4' %>
			<% end %>

		  </div>

		<% if @transaction.transaction_type_id == 0 %>
			<div class="small-12 medium-6 large-6 columns">
				<h4><%=t :buy_reviewconfirm %></h4><br>
				<p><%=t :buy_reviewconfirm_b1%></p>
				<p><%=t :buy_reviewconfirm_b2%></p>
				<p><%=t :buy_reviewconfirm_b3%></p>			
			</div> 
		<% elsif @transaction.transaction_type_id == 1 %>
			<div class="small-12 medium-6 large-6 columns">
			<h4><%=t :sell_reviewconfirm %></h4><br><br>
			<p><%=t :sell_reviewconfirm_b1%></p>
			<p><%=t :sell_reviewconfirm_b2%></p>		
			</div> 
		<% end %>	

		</div>
	</div>	

	</div>
</div>