<div>
	
	<% if @transaction.transaction_type_id == 0 %>
		<div id="before-content-area" class="bibicoin-header-bg-orange">
			<h1><%=t :header_buy %></h1>
		</div>
	<% elsif @transaction.transaction_type_id == 1 %>
		<div id="before-content-area" class="bibicoin-header-bg-orange">
			<h1><%=t :header_sell %></h1>
		</div>
	<% end %>

	<div class="row">
		<br><br>
	</div>		

	<% if @transaction.transaction_type_id == 0 %>
		<div class="row">
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button"><b><%=t :buy_step1 %></b> <%=t :buy_step1_text %></a></div>
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button disabled"><b><%=t :buy_step2 %></b> <%=t :buy_step2_text %></a></div>
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button disabled"><b><%=t :buy_step3 %></b> <%=t :buy_step3_text %></a></div>  
		</div>	
	<% elsif @transaction.transaction_type_id == 1 %>
		<div class="row">
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button"><b><%=t :sell_step1 %></b> <%=t :sell_step2_text %></a></div>
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button disabled"><b><%=t :sell_step2 %></b> <%=t :sell_step2_text %></a></div>
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button disabled"><b><%=t :sell_step3 %></b> <%=t :sell_step3_text %></a></div> 
		</div>
	<% end %>

	<div id="before-content-area">
		<div class="row">
		  <div class="small-12 medium-6 large-6 columns">

			<%= form_for @transaction, html: {"data-abide" => ''}, :url => {:action => "confirm"} do |f| %>
					<fieldset>
					<!-- Buy: allow inputs form both sides and change values as needed -->	
					<% if @transaction.transaction_type_id == 0 %>

					<legend><%=t :header_buy %></legend>
					
					<div class="row">
						 <div class="purchaseamt-field">		
							 <div class="large-4 columns"><label><%=t :form_purchaseamt %></label></div>
							 <div class="large-4 columns">
							 	<label><%= f.label :TWDAmt, t('form_ntdamt') %></label>
							 	<%= f.text_field :TWDAmt, placeholder: "", :maxlength=>"10", :oninput => "updateBTCAmt()", :onkeyup => "calculateTotal()", :required => true, :pattern => "number" %>
								<%= content_tag(:small, "Error", class: "error") %>
							 </div>						 
							 <div class="large-4 columns">
							 	<label><%= f.label :BTCAmt, t('form_btcamt') %></label>
							 	<%= f.text_field :BTCAmt, placeholder: "", :oninput => "updateNTDAmt()", :onkeyup => "calculateTotal()", :required => true, :pattern => "number" %>
								<%= content_tag(:small, "Error", class: "error") %>
							 </div>
						 </div>
					</div>			
			    	<div class="wallet-field">		    	
					<label>
					<a href="#" data-reveal-id="walletModal"><%=t :form_wallet %></a><br><br>
						<div id="walletModal" class="reveal-modal" data-reveal>
						  <h2>Wallet</h2>
						  <p class="lead">Description</p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
			    		<%= f.text_field :walletID, :maxlength=>"75", placeholder: "1Zvi22Q8Y3Cn6nPATEBSaFFbckD9sUq6C", :required => true, :pattern => "alpha_numeric" %>
			    	</label>
			    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>	
			    	<div class="email-field">		    	
						<label><%= f.label :email, t('form_email') %><br>
				    		<%= f.text_field :email, :maxlength=>"75", :required => true, :pattern => "email" %>
				    	</label>
				    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>	
			    	<div class="name-field">		    	
						<label><%= f.label :name, t('form_name') %><br>
				    		<%= f.text_field :name, :maxlength=>"50", :required => true, :pattern => "" %>
				    	</label>
				    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>	
			    	<div class="birthdate-field">		    	
						<label><%= f.label :DoB, t('form_birthdate') %><br>
				    		<%= f.date_field:DoB, :maxlength=>"10", :required => true, :pattern => "date"  %>
				    	</label>
				    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>	
			    	<div class="paymentmethod-field">		    	
					<label>
					<a href="#" data-reveal-id="paymentModal"><%=t :form_payment %></a><br><br>
						<div id="paymentModal" class="reveal-modal" data-reveal>
						  <h2>Payment Method</h2>
						  <p class="lead">Description</p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
			    		<%=t :form_bankinfo %><br><br>
			    	</label>
			    	</div>	
		

					<!-- Sell -->
			    	<% elsif @transaction.transaction_type_id == 1 %>

					<legend><%=t :header_sell %></legend>
					
					<div class="row">
						 <div class="sellamt-field">		
							 <div class="large-4 columns"><label><%=t :form_sellamt %></label></div>
							 <div class="large-4 columns">
							 	<label><%= f.label :BTCAmt, t('form_btcamt') %></label>
							 	<%= f.text_field :BTCAmt, placeholder: "", :oninput => "updateNTDAmt()", :onkeyup => "calculateTotal()", :required => true, :pattern => "number" %>
								<%= content_tag(:small, "Error", class: "error") %>
							 </div>
							 <div class="large-4 columns">
							 	<label><%= f.label :TWDAmt, t('form_ntdamt') %></label>
							 	<%= f.text_field :TWDAmt, placeholder: "", :maxlength=>"10", :oninput => "updateBTCAmt()", :onkeyup => "calculateTotal()", :required => true, :pattern => "number" %>
								<%= content_tag(:small, "Error", class: "error") %>
							 </div>						 
						 </div>
					</div>			
			    	<div class="wallet-field">		    	
					<label>
					<a href="#" data-reveal-id="walletModal"><%=t :form_wallet %></a><br><%=t :sell_returnbitcoin%><br><br>
						<div id="walletModal" class="reveal-modal" data-reveal>
						  <h2>Wallet</h2>
						  <p class="lead">Description</p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
			    		<%= f.text_field :walletID, :maxlength=>"75", placeholder: "1Zvi22Q8Y3Cn6nPATEBSaFFbckD9sUq6C", :required => true, :pattern => "alpha_numeric" %>
			    	</label>
			    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>	
			    	<div class="email-field">		    	
						<label><%= f.label :email, t('form_email') %><br>
				    		<%= f.text_field :email, :maxlength=>"75", :required => true, :pattern => "email" %>
				    	</label>
				    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>	
			    	<div class="name-field">		    	
						<label><%= f.label :name, t('form_name') %><br>
				    		<%= f.text_field :name, :maxlength=>"50", :required => true %>
				    	</label>
				    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>	
			    	<div class="birthdate-field">		    	
						<label><%= f.label :DoB, t('form_birthdate') %><br>
				    		<%= f.date_field:DoB, :maxlength=>"10", :required => true, :pattern => "date"  %>
				    	</label>
				    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>	
			    	<div class="bankintro-field">		    	
						<label><%=t :sell_bankdepositdetails%><br><a href="#"><%=t :sell_howtosell%></a><br><br></label>
			    	</div>	
			    	<div class="bankname-field">		    	
						<label><%= f.label :bankName, t('form_bankname') %><br>
				    		<%= f.text_field :bankName, :maxlength=>"50", :required => true %>
				    	</label>
				    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>
		    		<div class="banknumber-field">		    	
						<label><%= f.label :bankAcctNumber, t('form_banknumber') %><br>
				    		<%= f.text_field :bankAcctNumber, :maxlength=>"50", :required => true, :pattern => "number" %>
				    	</label>
				    		<%= content_tag(:small, "Error", class: "error") %>
			    	</div>

			    	<% end %>

			    	<!-- Common -->

			    	<%= f.hidden_field :transaction_type_id, :value => @transaction.transaction_type_id %>
					<%= f.hidden_field :bibicoinBTCtoTWD, :value => @transaction.bibicoinBTCtoTWD %>

			    	<div class="terms-field">		    	
						<label><%= f.check_box :agreeTerms, :required=>true %> <%=t :form_terms %><%= link_to(t('form_terms_1'), :terms) %><%=t :form_terms_2 %>
				    	</label><%= content_tag(:small, "Error", class: "error") %><br>			    	
			    	</div>	

			    	<!-- TODO: Section for Validation for Debugging - Remove after for production -->
			    	<div class="temp-field">		    	
						<label><b>BiBicoins Commisions</b></label><br>
			    	</div>	

			    	<div class="totalamount-field">		    	
						<label><%= f.label :totalAmt,  "Total Amount" %><br>
				    		<label id = "totalAmt"></label><br>
				    	</label>
			    	</div>	

			    	<div class="commission-field">		    	
						<label><%= f.label :commAmt,  "Commision Amount" %><br>
				    		<%= f.text_field :commAmt, :readonly => true %>
				    	</label>
			    	</div>	

			    	<div class="rate-field">		    	
						<label>1 BTC to TWD Rate: <%= @transaction.bibicoinBTCtoTWD %></label><br>
			    	</div>

			    	</fieldset>			    	
			<%= f.submit t('form_next'), :class => 'button small large-3'%>   
			<% end %>
		  </div>

		<% if @transaction.transaction_type_id == 0 %>
			<div class="small-12 medium-6 large-6 columns">
				<h4><%=t :buy_newrequest %></h4><br><br>
				<p><%=t :buy_newrequest_b1%></p>
				<p><%=t :buy_newrequest_b2%></p>		
			</div> 
		<% elsif @transaction.transaction_type_id == 1 %>
			<div class="small-12 medium-6 large-6 columns">
			<h4><%=t :sell_newrequest %></h4><br><br>
			<p><%=t :sell_newrequest_b1%></p>
			<p><%=t :sell_newrequest_b2%></p>		
			</div> 
		<% end %>	

		</div>
	</div>	

    <!--
	<div class ="row">

	  <div class="small-7 columns">
	<% if @transaction.transaction_type_id == 0 %>
		<h4><%=t :header_buy %></h4>
	<% elsif @transaction.transaction_type_id == 1 %>
		<h4><%=t :header_sell %></h4>
	<% end %>
		
		<%= form_for @transaction, :url => {:action => "confirm"} do |f| %>
		
		<!- Shared
		
			<br />
			<table>		
			<!- Buy: allow inputs form both sides and change values as needed	
			<% if @transaction.transaction_type_id == 0 %>
			
				<tr>
					<td></td>
					<td><%= f.label :TWDAmt, t('form_ntdamt') %></td>
					<td></td>
					<td><%= f.label :BTCAmt, t('form_btcamt') %></td>
				</tr>
				<tr>
					<td><%=t :form_purchaseamt %></td>
				<!- minimum value is 0.25 --
					<td>
						<%= f.text_field :TWDAmt, :maxlength=>"10", :oninput => "updateBTCAmt()", :onkeyup => "calculateTotal()" %></td>
					<td><%=t :form_to%></td>
					<td><%= f.text_field :BTCAmt, :oninput => "updateNTDAmt()", :onkeyup => "calculateTotal()" %></td>
				</tr>

				<tr>
					<td><%= f.label :walletID, t('form_wallet') %>
						<a href="#" data-dropdown="hover1" data-options="is_hover:true"><%=t :buy_whatiswallet %></a>
						<ul id="hover1" class="f-dropdown" data-dropdown-content>
						  <li><a href="#">A Wallet is....</a></li>
						</ul>
					</td>
					<td colspan='3'><%= f.text_field :walletID, :maxlength=>"75" %></td>
				</tr>
				<tr>
					<td><%= f.label :email, t('form_email') %></td>
					<td colspan='3'><%= f.text_field :email, :maxlength=>"75" %></td>
				</tr>
				<tr>
					<td><%= f.label :name %></td>
					<td colspan='3'><%= f.text_field :name, :maxlength=>"50" %></td>
				</tr>
				<tr>
					<td><%= f.label :DoB, t('form_birthdate') %></td>
					<td><%= f.date_field:DoB, :maxlength=>"10" %></td>
					<td colspan='2'></td>
				</tr>
				<tr>
					<td><%=t :form_payment %><br><a href=""><%=t :buy_paymentmethod %></a></td>
					<td colspan='3'><%=t :form_bankinfo %></td>
				</tr>
				
				<tr>
					<td><%= f.label :totalAmt,  "Total Amount" %> </td>
					<td colspan='3'><p id = "totalAmt">0</p></td>
				</tr>
				<tr>
					<td><%= f.label :bankName, t('form_bankname') %> </td>
					<td colspan='3'><%= f.text_field :bankName, :readonly => true %></td>
				</tr>
				<tr>
					<td><%= f.label :bankAcctNumber, t('form_banknumber') %> </td>
					<td colspan='3'><%= f.text_field :bankAcctNumber, :readonly => true %></td>
				</tr>		
			
			 Sell
			<% elsif @transaction.transaction_type_id == 1 %>


				<tr>
					<td></td>
					<td><%= f.label :BTCAmt, t('form_btcamt') %></td>
					<td></td>
					<td><%= f.label :TWDAmt, t('form_ntdamt') %></td>
				</tr>
				<tr>
						<td><%=t :form_sellamt %></td>
				<!- minimum value is 0.25 
					<td><%= f.text_field :BTCAmt, :oninput => "updateNTDAmt()", :onkeyup => "calculateTotal()" %></td>
					<td><%=t :form_to%></td>
					<td><%= f.text_field :TWDAmt, :oninput => "updateBTCAmt()", :onkeyup => "calculateTotal()" %></td>
				</tr>
					
				<tr>
					<td><%= f.label :walletID, t('form_wallet') %><a href=""><%=t :buy_whatiswallet %></a><br><%=t :sell_returnbitcoin%></td>
					<td colspan='3'><%= f.text_field :walletID, :maxlength=>"75" %></td>
				</tr>
				<tr>
					<td><%= f.label :email, t('form_email') %></td>
					<td colspan='3'><%= f.text_field :email, :maxlength=>"75" %></td>
				</tr>
	
				<tr>
					<td cospan='4'><%=t :sell_bankdepositdetails%><br><a href="#"><%=t :sell_howtosell%></a></td>
				</tr>			
				<tr>
					<td><%= f.label :bankName, t('form_bankname') %> </td>
					<td colspan='3'><%= f.text_field :bankName %></td>
				</tr>		
				<!- TODO: BUG, Can't get the "Account Holder Name" Working --		
				<tr>
					<td><%= f.label :name %></td>
					<td colspan='3'><%= f.text_field :name, :maxlength=>"50" %></td>
				</tr>
				<tr>
					<td><%= f.label :bankAcctNumber, t('form_banknumber') %> </td>
					<td colspan='3'><%= f.text_field :bankAcctNumber %></td>
				</tr>	
				<tr>
					<td><%= f.label :DoB, t('form_birthdate') %></td>
					<td><%= f.date_field:DoB, :maxlength=>"10" %></td>
					<td colspan='2'></td>
				</tr>
				<tr>
					<td><%= f.label :totalAmt,  "Total Amount" %> </td>
					<td colspan='3'><p id = "totalAmt">0</p></td>
				</tr>
												
			<% end %>
			
			<tr>
				<td><%= f.label :commAmt, "Commission Amount" %></td>
				<td colspan='3'><%= f.text_field :commAmt, :readonly => true %></td>
			</tr>
							
			<%= f.hidden_field :transaction_type_id, :value => @transaction.transaction_type_id %>
			<%= f.hidden_field :bibicoinBTCtoTWD, :value => @transaction.bibicoinBTCtoTWD %>				
				<tr>
					
					<td colspan="4"><%= f.check_box :agreeTerms %> <%=t :form_terms %><%= link_to(t('form_terms_1'), :terms) %><%=t :form_terms_2 %></td>
				</tr>							
	
				<tr>
					<td>1 BTC to TWD Rate:<%= @transaction.bibicoinBTCtoTWD %></td>
				</tr>
					
			</table>
			

			<!- submit button --
			<%= f.submit t('form_next')%><br><br>
			
			
		<% end %>

	  </div> 

	<% if @transaction.transaction_type_id == 0 %>
	  <div class="small-5 columns">
		<h4><%=t :buy_newrequest %></h4><br><br>
		<p><%=t :buy_newrequest_b1%></p>
		<p><%=t :buy_newrequest_b2%></p>		
	  </div> 
	<% elsif @transaction.transaction_type_id == 1 %>
	  <div class="small-5 columns">
		<h4><%=t :sell_newrequest %></h4><br><br>
		<p><%=t :sell_newrequest_b1%></p>
		<p><%=t :sell_newrequest_b2%></p>		
	  </div> 
	<% end %>	  	  
-->	  	
	</div>
	
<script type="text/javascript">


<!-- function for buy going from NTD to BTC -->
function updateBTCAmt()
{
	var twdAmt = document.getElementById("transaction_TWDAmt").value;
	var btcToTwd = "<%= @transaction.bibicoinBTCtoTWD %>";
	var btcAmt = +twdAmt / +btcToTwd;
	if (btcAmt == 'NaN')
	{
		btcAmt = 0;
	}
	document.getElementById("transaction_BTCAmt").value = parseFloat(+btcAmt).toFixed(5);
}

<!-- function for sale going from BTC to NTD -->
function updateNTDAmt()
{
	var btcAmt = document.getElementById("transaction_BTCAmt").value;
	var btcToTwd = "<%= @transaction.bibicoinBTCtoTWD %>";
	var twdAmt = +btcAmt * +btcToTwd;
	if (twdAmt == 'NaN')
	{
		twdAmt = 0;
	}
	document.getElementById("transaction_TWDAmt").value = parseFloat(+twdAmt).toFixed(0);
}
<!-- function to calculate commission and display on the screen -->
function calculateTotal()
{
	var twdAmt = parseFloat(document.getElementById("transaction_TWDAmt").value).toFixed(2);
	var btcAmt = parseFloat(document.getElementById("transaction_BTCAmt").value).toFixed(2);
	<!-- this is twd for 1 BTC -->
	var btcToTwd = "<%= @transaction.bibicoinBTCtoTWD %>";
	var commRate = parseFloat(0).toFixed(2);
	var commAmt = parseFloat(0).toFixed(2);
	var COMM_LIMIT_1 = parseFloat("<%= @COMM_LIMIT_1 %>").toFixed(2);
	var COMM_LIMIT_2 = parseFloat("<%= @COMM_LIMIT_2 %>").toFixed(2);
	
	<!-- Update with actual rates once the 
	if (+btcAmt < +COMM_LIMIT_1)
	{
		commRate = (+0.01).toFixed(2);
	}
	else if (+btcAmt >= +COMM_LIMIT_1 && +btcAmt < +COMM_LIMIT_2)
	{
		commRate = (+0.02).toFixed(2);
	}
	else if (+btcAmt >= +COMM_LIMIT_2)
	{
		commRate = (+0.03).toFixed(2);
	}
	
	 	
	commAmt = parseFloat(+twdAmt * +commRate).toFixed(0);
	if (commAmt == 'NaN')
	{
		commAmt = 0;
	}
	var totalAmt = parseFloat(+twdAmt + +commAmt).toFixed(0);
	if (totalAmt == 'NaN')
	{
		totalAmt = 0	;
	}
	document.getElementById("transaction_commAmt").value = commAmt;
	document.getElementById("totalAmt").innerHTML = totalAmt;
}
</script>
	
</div>