<div>
	
	<% if @transaction.transaction_type_id == 0 %>
		<div id="before-content-area" class="bibicoin-header-bg-orange">
			<h1><%=t :header_buy %></h1>
		</div>
	<% elsif @transaction.transaction_type_id == 1 %>
		<div id="before-content-area" class="bibicoin-header-bg-orange">
			<h1><%=t :header_sell %></h1>
		</div>
	<% end %>			

<% if @transaction.transaction_type_id == 0 %>

	<div>
		<div id="before-content-area">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue-active"><b><%=t :buy_step1 %></b> <%=t :buy_step1_text %></div></div>
		     	<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue"><b><%=t :buy_step2 %></b> <%=t :buy_step2_text %></div></div>
		     	<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue"><b><%=t :buy_step3 %></b> <%=t :buy_step3_text %></div></div>
	     	</div>
		</div>
	</div>	

	<% elsif @transaction.transaction_type_id == 1 %>

	<div>
		<div id="before-content-area">
			<div class="row">
				<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue-active"><%=t :sell_step1 %> <%=t :sell_step1_text %></div></div>
		     	<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue"><%=t :sell_step2 %> <%=t :sell_step2_text %></div></div>
		     	<div class="small-12 medium-4 large-4 columns" align="center"><div class="bibicoin-button-blue"><%=t :sell_step3 %> <%=t :sell_step3_text %></div></div>
	     	</div>
		</div>
	</div>	

	<% end %>

	<div id="before-content-area">
		<div class="row">
		  <div class="small-12 medium-6 large-6 columns">

			<%= form_for @transaction,:url => {:action => "confirm"} do |f| %>
					<fieldset>
					<!-- Buy: allow inputs form both sides and change values as needed -->	
					<% if @transaction.transaction_type_id == 0 %>

					<legend><%=t :header_buy %> (<%= link_to(t('buy_howtobuy'), :howtobuy, target: '_blank') %>)</legend>
					
					<div class="row">
						 <div class="purchaseamt-field">		
							 <div class="large-4 columns"><label><%=t :form_purchaseamt %></label></div>
							 <div class="large-4 columns">
							 	<label><%= f.label :TWDAmt, t('form_ntdamt') %></label>
							 	<%= f.number_field :TWDAmt, placeholder: "", :min => 3000, :max => 300000, :oninput => "updateBTCAmt();calculateTotal()", :required => true, :title => t('form_err_ntdamt') %>
							 </div>						 
							 <div class="large-4 columns">
							 	<label><%= f.label :BTCAmt, t('form_btcamt') %></label>
							 	<%= f.number_field :BTCAmt, placeholder: "", :oninput => "updateNTDAmt();calculateTotal()", :required => true, :step => "any" %>
							</div>
						 </div>
					</div>			
			    	<div class="wallet-field">		    	
					<label>
					<a href="#" data-reveal-id="walletModal"><%=t :form_wallet %></a><br><br>
						<div id="walletModal" class="reveal-modal" data-reveal>
						  <h2><%=t :form_wallet_1 %></h2>
						  <p class="lead"><%=t :form_wallet_2 %></p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
			    			<%= f.text_field :walletID, placeholder: "1Zvi22Q8Y3Cn6nPATEBSaFFbckD9sUq6C", :required => true, :pattern => "^[13][a-zA-Z0-9]{25,34}", :title => t('form_err_wallet') %>
			    	</label>
			    	</div>	
			    	<div class="email-field">		    	
						<label><%= f.label :email, t('form_email') %><br>
				    		<%= f.email_field :email, :maxlength=>"75", :required => true, :title => t('form_err_email') %>
				    	</label>
				    	</div>	
			    	<div class="name-field">		    	
						<label><%= f.label :name, t('form_name') %><small><%=t :form_name_1 %></small>
				    		<%= f.text_field :name, :maxlength=>"50", :required => true, :title => t('form_err_name') %>
				    	</label>
				    </div>	
			    	<div class="birthdate-field">		
						<label><%= f.label :DoB, t('form_birthdate') %><br>
				    		<%= f.date_field:DoB, :maxlength=>"10", :required => true, :max => @DOB_MIN, :title => t('form_err_birthdate')  %>
				    	</label>
				    </div>	
			    	<div class="paymentmethod-field">		    	
					<label>
					<a href="#" data-reveal-id="paymentModal"><%=t :form_payment %></a><br><br>
						<div id="paymentModal" class="reveal-modal" data-reveal>
						  <h2><%=t :form_payment_1 %></h2>
						  <p class="lead"><%=t :form_payment_2 %></p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
			    		<%=t :form_bankinfo %><br>
			    		<%=t :form_bankinfo_1 %><br>
			    		<%=t :form_bankinfo_2 %><br><br>
			    	</label>
			    	</div>			

					<!-- Sell -->
			    	<% elsif @transaction.transaction_type_id == 1 %>

					<legend><%=t :header_sell %> (<%= link_to(t('sell_howtosell'), :howtosell, target: '_blank') %>)</legend>
					
					<div class="row">
						 <div class="sellamt-field">		
							 <div class="large-4 columns"><label><%=t :form_sellamt %></label></div>
							 <div class="large-4 columns">
							 	<label><%= f.label :BTCAmt, t('form_btcamt') %></label>
							 	<%= f.number_field :BTCAmt, placeholder: "", :oninput => "updateNTDAmt();calculateTotal()", :required => true, :step => "any", :title => t('form_err_ntdamt') %>
							 </div>
							 <div class="large-4 columns">
							 	<label><%= f.label :TWDAmt, t('form_ntdamt') %></label>
							 	<%= f.number_field :TWDAmt, placeholder: "", :maxlength=>"10", :oninput => "updateBTCAmt();calculateTotal()", :required => true, :min => 3000, :max => 300000 %>
								</div>						 
						 </div>
					</div>			
			    	<div class="wallet-field">		    	
					<label>
					<a href="#" data-reveal-id="walletModal"><%=t :form_wallet %></a><br><%=t :sell_returnbitcoin%><br><br>
						<div id="walletModal" class="reveal-modal" data-reveal>
						  <h2>Wallet</h2>
						  <p class="lead">Description</p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
			    		<%= f.text_field :walletID, placeholder: "1Zvi22Q8Y3Cn6nPATEBSaFFbckD9sUq6C", :required => true, :pattern => "^[13][a-zA-Z0-9]{25,34}", :title => t('form_err_wallet') %>
						
			    	</label>
			    	</div>	
			    	<div class="email-field">		    	
						<label><%= f.label :email, t('form_email') %><br>
				    		<%= f.email_field :email, :maxlength=>"75", :required => true, :title => t('form_err_email') %>
				    	</label>
				    </div>	
			    	<div class="name-field">		    	
						<label><%= f.label :name, t('form_name') %><br><small><%=t :form_name_1 %></small>
				    		<%= f.text_field :name, :maxlength=>"50", :required => true, :title => t('form_err_name') %>
				    	</label>
				    </div>	
			    	<div class="birthdate-field">		    	
						<label><%= f.label :DoB, t('form_birthdate') %><br>
				    		<%= f.date_field:DoB, :maxlength=>"10", :required => true, :max => @DOB_MIN, :title => t('form_err_birthdate')  %>
				    	</label>
				    </div>	
			    	<div class="bankintro-field">		    	
						<label><%=t :sell_bankdepositdetails%><br><br></label>
			    	</div>	
			    	<div class="bankname-field">		    	
						<label><%= f.label :bankName, t('form_bankname') %><br>
				    		<%= f.select :bankName, @BANKS, :required => true, :title => t('form_err_bankname') %>
				    	</label>
				    </div>
		    		<div class="banknumber-field">		    	
						<label><%= f.label :bankAcctNumber, t('form_banknumber') %><br>
				    		<%= f.text_field :bankAcctNumber, :maxlength=>"50", :required => true, :title => t('form_err_banknumber') %>
				    	</label>
				    </div>

			    	<% end %>

			    	<!-- Common -->

			    	<%= f.hidden_field :transaction_type_id, :value => @transaction.transaction_type_id %>
					<%= f.hidden_field :bibicoinBTCtoTWD, :value => @transaction.bibicoinBTCtoTWD %>

			    	<div class="terms-field">		    	
						<label><%= f.check_box :agreeTerms, :required => true, :title => t('form_err_terms')  %> <%=t :form_terms %><%= link_to(t('form_terms_1'), :terms, target: '_blank') %><%=t :form_terms_2 %>
				    </div><br><br>	


			    	<div class="temp-field">		    	
						<label>BiBicoins Commisions</label><br>
			    	</div>	

			    	<div class="totalamount-field">		    	
						<label><%= f.label :totalAmt,  "Total Amount" %><br>
				    		<label id = "totalAmt"></label><br>
				    	</label>
			    	</div>	

			    	<div class="commission-field">		    	
						<label><%= f.label :commAmt,  "Commission Amount" %><br>
				    		<%= f.text_field :commAmt, :readonly => true %>
				    	</label>
			    	</div>	

			    	<div class="rate-field">		    	
						<label>1 BTC to TWD Rate: <%= number_with_precision(@transaction.bibicoinBTCtoTWD, precision: 4) %></label><br>
			    	</div>

			    	</fieldset>			    	
			<div align="right"><%= f.submit t('form_next'), :class => 'button small large-3' %></div>   
			<% end %>
		  </div>

		<% if @transaction.transaction_type_id == 0 %>
			<div class="small-12 medium-6 large-6 columns">
				<h4><%=t :buy_newrequest %></h4><br><br>
				<p><%=t :buy_newrequest_b1%></p>
				<p><%=t :buy_newrequest_b2%></p>		
			</div> 
		<% elsif @transaction.transaction_type_id == 1 %>
			<div class="small-12 medium-6 large-6 columns">
			<h4><%=t :sell_newrequest %></h4><br><br>
			<p><%=t :sell_newrequest_b1%></p>
			<p><%=t :sell_newrequest_b2%></p>		
			</div> 
		<% end %>	

		</div>
	</div>	
	</div>
	
<script type="text/javascript">
<!-- buy going from NTD to BTC -->
function updateBTCAmt()
{
	var twdAmt = document.getElementById("transaction_TWDAmt").value;
	var btcToTwd = "<%= @transaction.bibicoinBTCtoTWD %>";
	var btcAmt = +twdAmt / +btcToTwd;
	if (btcAmt == 'NaN')
	{
		btcAmt = +0;
	}
	document.getElementById("transaction_BTCAmt").value = parseFloat(+btcAmt).toFixed(5);
}

<!--  sale going from BTC to NTD -->
function updateNTDAmt()
{
	var btcAmt = document.getElementById("transaction_BTCAmt").value;
	var btcToTwd = "<%= @transaction.bibicoinBTCtoTWD %>";
	var twdAmt = +btcAmt * +btcToTwd;
	if (twdAmt == 'NaN')
	{
		twdAmt = +0;
	}
	document.getElementById("transaction_TWDAmt").value = parseFloat(+twdAmt).toFixed(0);
}

<!-- calculate commission and display on the screen -->
function calculateTotal()
{
<!-- need to fix the rounding of the BTC for commission -->
	var twdAmt = parseFloat(document.getElementById("transaction_TWDAmt").value).toFixed(0);
	var btcAmt = parseFloat(document.getElementById("transaction_BTCAmt").value).toFixed(1);
	<!-- this is twd for 1 BTC -->
	var btcToTwd = "<%= @transaction.bibicoinBTCtoTWD %>";
	var commRate = parseFloat(0).toFixed(2);
	var commAmt = parseFloat(0).toFixed(2);
	var COMM_LIMIT_1 = parseFloat("<%= @COMM_LIMIT_1 %>");
	var COMM_LIMIT_2 = parseFloat("<%= @COMM_LIMIT_2 %>");
	
	<!-- Buy: add / Sell: subtract -->
	if (+btcAmt < +COMM_LIMIT_1)
	{
		commRate = (+0.0625);
	}
	else if (+btcAmt >= +COMM_LIMIT_1 && +btcAmt < +COMM_LIMIT_2)
	{
		commRate = (+0.0525);
	}
	else if (+btcAmt >= +COMM_LIMIT_2)
	{
		commRate = (+0.0425);
	}
		 	
	commAmt = parseFloat(+twdAmt * +commRate).toFixed(0);
	if (commAmt == 'NaN')
	{
		commAmt = 0;
	}
	var transactionType = "<%= @transaction.transaction_type_id %>";
	if (transactionType == 0)
	{
		var totalAmt = parseFloat(+twdAmt +	+commAmt).toFixed(0);
	}
	else 
	{
		var totalAmt = parseFloat(+twdAmt - +commAmt).toFixed(0);
	}
	if (totalAmt == 'NaN')
	{
		totalAmt = 0;
	}
	document.getElementById("transaction_commAmt").value = commAmt;
	document.getElementById("totalAmt").innerHTML = totalAmt;
}


</script>
	
</div>