<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :header_buy %></h1>
	</div>
	
	<div class ="row">
	
	<% if @transaction.transaction_type_id == 0 %>
		Buy Bitcoin
	<% elsif @transaction.transaction_type_id == 1 %>
		Sell Bitcoin
	<% end %>
	
	
	
		<%= form_for @transaction, :url => {:action => "confirm"} do |f| %>
		
		<!-- Shared -->
		
			<br />
		
			<%= f.label :walletID, "Wallet Address" %>
			<%= f.text_field :walletID %>
			
			<%= f.label :name %>
			<%= f.text_field :name %>
			
			<%= f.label :email, "Email Address" %>
			<%= f.text_field :email %>
			
			<%= f.label :DoB, "Date of Birth" %>
			<%= f.date_field:DoB %>
				
			<!-- Buy: allow inputs form both sides and change values as needed -->	
			<% if @transaction.transaction_type_id == 0 %>
		
				<%= f.label :TWDAmt, "NTD Amount to Buy" %>
				<%= f.text_field :TWDAmt, :oninput => "updateBTCAmt()", :onkeyup => "calculateTotal()" %>
			
				<!-- minimum value is 0.25 -->
				<%= f.label :BTCAmt, "Bitcoin Amount to Buy" %>
				<%= f.text_field :BTCAmt, :oninput => "updateNTDAmt()", :onkeyup => "calculateTotal()" %>
						
			<!-- Sell -->
			<% elsif @transaction.transaction_type_id == 1 %>
			
				<%= f.label :TWDAmt, "NTD Amount to Sell" %>
				<%= f.text_field :TWDAmt, :oninput => "updateBTCAmt()", :onkeyup => "calculateTotal()" %>
				
				<!-- minimum value is 0.25 -->
				<%= f.label :BTCAmt, "Bitcoin Amount to Sell" %>
				<%= f.text_field :BTCAmt, :oninput => "updateNTDAmt()", :onkeyup => "calculateTotal()" %>
				
								
			<% end %>
			
			
			<%= f.label :commAmt, "Commission Amount" %>
			<%= f.text_field :commAmt, :readonly => true %>
		
			<%= f.label :totalAmt,  "Total Amount" %> 
			<p id = "totalAmt">0</p>
					
		<!-- Shared -->
		
			<%= f.label :bankName, "Bank Name" %>
			<%= f.text_field :bankName %>
			
			<%= f.label :bankAcctNumber, "Bank Account Number" %>
			<%= f.text_field :bankAcctNumber %>
			
			<%= f.hidden_field :transaction_type_id, :value => @transaction.transaction_type_id %>
			<%= f.hidden_field :bibicoinBTCtoTWD, :value => @transaction.bibicoinBTCtoTWD %>				
		
			<!-- make the total come up -->
			<%= f.submit "Confirm", :onload => "calculateTotal()" %>
			
		<% end %>
		
		
	
	</div>
	
<script type="text/javascript">

<!-- function for buy going from NTD to BTC -->
function updateBTCAmt()
{
	var twdAmt = document.getElementById("transaction_TWDAmt").value;
	var btcToTwd = "<%= @transaction.bibicoinBTCtoTWD %>";
	var btcAmt = +twdAmt / +btcToTwd;
	document.getElementById("transaction_BTCAmt").value = parseFloat(+btcAmt).toFixed(5);
}

<!-- function for sale going from BTC to NTD -->
function updateNTDAmt()
{
	var btcAmt = document.getElementById("transaction_BTCAmt").value;
	var btcToTwd = "<%= @transaction.bibicoinBTCtoTWD %>";
	var twdAmt = +btcAmt * +btcToTwd;
	document.getElementById("transaction_TWDAmt").value = parseFloat(+twdAmt).toFixed(0);
}
<!-- function to calculate commission and display on the screen -->
function calculateTotal()
{
	var twdAmt = parseFloat(document.getElementById("transaction_TWDAmt").value).toFixed(2);
	var btcAmt = parseFloat(document.getElementById("transaction_BTCAmt").value).toFixed(2);
	<!-- this is twd for 1 BTC -->
	var btcToTwd = "<%= @transaction.bibicoinBTCtoTWD %>";
	var commRate = parseFloat(0).toFixed(2);
	var commAmt = parseFloat(0).toFixed(2);
	var COMM_LIMIT_1 = parseFloat("<%= @COMM_LIMIT_1 %>").toFixed(2);
	var COMM_LIMIT_2 = parseFloat("<%= @COMM_LIMIT_2 %>").toFixed(2);
	
	<!-- Update with actual rates once the 
	if (+btcAmt < +COMM_LIMIT_1)
	{
		commRate = (+0.01).toFixed(2);
	}
	else if (+btcAmt >= +COMM_LIMIT_1 && +btcAmt < +COMM_LIMIT_2)
	{
		commRate = (+0.02).toFixed(2);
	}
	else if (+btcAmt >= +COMM_LIMIT_2)
	{
		commRate = (+0.03).toFixed(2);
	}
	
	 	
	commAmt = parseFloat(+twdAmt * +commRate).toFixed(0);
	if (commAmt == 'NaN')
	{
		commAmt = 0;
	}
	var totalAmt = parseFloat(+twdAmt + +commAmt).toFixed(0);
	if (totalAmt == 'NaN')
	{
		totalAmt = 0	;
	}
	document.getElementById("transaction_commAmt").value = commAmt;
	document.getElementById("totalAmt").innerHTML = totalAmt;
}
</script>
	
	
	
	
	
</div>