<div>
	<div id="before-content-area" class="bibicoin-header-bg-orange"> 
		<h1><%=t :header_buy %></h1>
	</div>
	
	<div class ="row">
		<div class="small-8 columns">	
	
	<% if @transaction.transaction_type_id == 0 %>
		<h4>Transaction Saved - Buy</h4>
	<% elsif @transaction.transaction_type_id == 1 %>
		<h4>Transaction Saved - Sell</h4>
	<% end %>
	<br />
	<br />
			
			Wallet ID: <%= @transaction.walletID %>
			<br />
						
			Name: <%= @transaction.name %>
			<br />
			
			Email: <%= @transaction.email %>
			<br />
			
			Date of Birth: <%= @transaction.DoB %>
			<br />
					
			Total BTC <%= @transaction.BTCAmt %>
			<br />
			
			Transaction Cost: <%= @transaction.TWDAmt %>
			<br />
			
			Commission Cost: <%= @transaction.commAmt %>
			<br />
			
			Total Cost: <%= @transaction.TWDAmt + @transaction.commAmt %>
			<br />
								
			Bank Name: <%= @transaction.bankName %>
			<br />
			
			Bank Acct: <%= @transaction.bankAcctNumber %>
			<br /><br>
	</div>	
	  <div class="small-4 columns">
		<h4><%=t :buy_confirmation %></h4><br><br>
		<p><%=t :buy_confirmation_b1%></p>
		<p><%=t :buy_confirmation_b2%></p>		
		<p><%=t :buy_confirmation_b3%></p>	
	 </div> 
	  </div> 	  	
	</div>		
	</div>
</div>