<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :header_buy %></h1>
	</div>
	
	<div class ="row">
	
	<% if @transaction.transaction_type_id == 0 %>
		Transaction Saved - Buy
	<% elsif @transaction.transaction_type_id == 1 %>
		Transaction Saved - Sell
	<% end %>
	<br />
	<br />
			
			Wallet ID: <%= @transaction.walletID %>
			<br />
						
			Name: <%= @transaction.name %>
			<br />
			
			Email: <%= @transaction.email %>
			<br />
			
			Date of Birth: <%= @transaction.DoB %>
			<br />
					
			Total BTC <%= @transaction.BTCAmt %>
			<br />
			
			Transaction Cost: <%= @transaction.TWDAmt %>
			<br />
			
			Commission Cost: <%= @transaction.commAmt %>
			<br />
			
			Total Cost: <%= @transaction.TWDAmt + @transaction.commAmt %>
			<br />
								
			Bank Name: <%= @transaction.bankName %>
			<br />
			
			Bank Acct: <%= @transaction.bankAcctNumber %>
			<br />
		
		
	
	</div>
</div>