<div>
	<% if @transaction.transaction_type_id == 0 %>
		<div id="before-content-area" class="bibicoin-header-bg-orange">
			<h1><%=t :header_buy %></h1>
		</div>
	<% elsif @transaction.transaction_type_id == 1 %>
		<div id="before-content-area" class="bibicoin-header-bg-orange">
			<h1><%=t :header_sell %></h1>
		</div>
	<% end %>
		
	<div class="row">
		<br><br>
	</div>		
	
	<% if @transaction.transaction_type_id == 0 %>
		<div class="row">
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button disabled"><b><%=t :buy_step1 %></b> <%=t :buy_step1_text %></a></div>
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button disabled"><b><%=t :buy_step2 %></b> <%=t :buy_step2_text %></a></div>
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button"><b><%=t :buy_step3 %></b> <%=t :buy_step3_text %></a></div> 
		</div>	
	<% elsif @transaction.transaction_type_id == 1 %>
		<div class="row">
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button disabled"><b><%=t :sell_step1 %></b> <%=t :sell_step2_text %></a></div>
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button disabled"><b><%=t :sell_step2 %></b> <%=t :sell_step2_text %></a></div>
		  <div class="small-4 columns"><a href="#" class="[tiny small large] button"><b><%=t :sell_step3 %></b> <%=t :sell_step3_text %></a></div>  
		</div>
	<% end %>


	<div class ="row">
		<div class="small-12 medium-6 large-6 columns">	
	
	<% if @transaction.transaction_type_id == 0 %>
		<h4><%=t :header_buy_order_email_confirmation %></h4>
	<% elsif @transaction.transaction_type_id == 1 %>
		<h4><%=t :header_buy_sell_complete %></h4>
	<% end %>
	<br />

		<table>

	<% if @transaction.transaction_type_id == 0 %>
			
			<tr>
				<td><%=t :form_orderid %></td>
				<td><%= @transaction.id %></td>
			<tr>
			<tr>
				<td><%=t :form_buyrate %></td>
				<td><%= @transaction.TWDAmt/@transaction.BTCAmt %></td>
			<tr>
			<tr>
				<td><%=t :form_purchaseamt %></td>
				<td>NTD <%= @transaction.TWDAmt %></td>
			<tr>
			<tr>
				<td><%=t :form_btcamt %></td>
				<td><%= @transaction.BTCAmt %> Bitcoins</td>
			<tr>
			<tr>
				<td><%=t :form_email %></td>
				<td><%= @transaction.email %></td>
			<tr>
			<tr>
				<td><%=t :form_name %></td>
				<td><%= @transaction.name %></td>
			<tr>
			<tr>
				<td><%=t :form_wallet %></td>
				<td><%= @transaction.walletID %></td>
			<tr>
			<!--
			<tr>
				<td><%=t :form_makedepositto %></td>
				<td><%=t :form_bankaccount %></td>
			<tr>
			-->
			<tr>
				<td><%=t :form_buyrequestsubmitted %></td>
				<td><%= @transaction.created_at %></td>
			<tr>
	<% elsif @transaction.transaction_type_id == 1 %>
			<tr>
				<td><%=t :form_orderid %></td>
				<td><%= @transaction.id %></td>
			<tr>
			<tr>
				<td><%=t :form_buyrate %></td>
				<td>TODO: Calculate the Sell Rate</td>
			<tr>
			<tr>
				<td><%=t :form_sellamt %></td>
				<td>NTD <%= @transaction.TWDAmt %></td>
			<tr>
			<tr>
				<td><%=t :form_btcamt %></td>
				<td><%= @transaction.BTCAmt %> Bitcoins</td>
			<tr>
			<tr>
				<td><%=t :form_email %></td>
				<td><%= @transaction.email %></td>
			<tr>
			<tr>
				<td><%=t :form_wallet %></td>
				<td><%= @transaction.walletID %></td>
			<tr>
			<tr>
				<td><%=t :form_sellbibiwallet %></td>
				<td><b>TODO: Insert Bibi Wallet Address here.</b></td>
			<tr>
			<tr>
				<td><%=t :form_sellbankdetails %></td>
				<td><%= @transaction.bankName %> <%=t :form_sellaccountnumber %> <%= @transaction.bankAcctNumber %></td>
			<tr>

			<tr>
				<td><%=t :form_sellrequestsubmitted %></td>
				<td><%= @transaction.created_at %></td>
			<tr>

	<% end %>
	
		</table>
					
			Commission Cost: <%= @transaction.commAmt %>
			<br />
			
			Total Cost: <%= @transaction.TWDAmt + @transaction.commAmt %>
			<br />
								
			Bank Name: <%= @transaction.bankName %>
			<br />
			
			Bank Acct: <%= @transaction.bankAcctNumber %>
			<br /><br>

		<% if @transaction.transaction_type_id == 0 %>
			<%= link_to t('form_ok'), buy_path, :class => "button" %>
		<% elsif @transaction.transaction_type_id == 1 %>
			<%= link_to t('form_ok'), sell_path, :class => "button" %>
		<% end %>
			
	</div>	


	<% if @transaction.transaction_type_id == 0 %>
	  <div class="small-12 medium-6 large-6 columns">
		<h4><%=t :buy_confirmation %></h4><br><br>
		<p><%=t :buy_confirmation_b1%></p>
		<p><%=t :buy_confirmation_b2%></p>		
		<p><%=t :buy_confirmation_b3%></p>	
	  </div> 
	<% elsif @transaction.transaction_type_id == 1 %>
	  <div class="small-12 medium-6 large-6 columns">
		<h4><%=t :sell_confirmation %></h4><br><br>
		<p><%=t :sell_confirmation_b1%></p>
		<p><%=t :sell_confirmation_b2%></p>		
	  </div> 
	<% end %>	
 
	  </div> 	  	
	</div>		
	</div>
</div>