<p class="bibicoins-bullets"><%= link_to(t('links_aboutus'), :about) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_why'), :why) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_reviews'), :reviews) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_terms'), :terms) %></p>	
<p class="bibicoins-bullets"><%= link_to(t('links_privacy'), :privacy) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_legal'), :legal) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_jobs'), :jobs) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_contact'), :contact) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_faq'), :faq) %></p>	