<li><%= link_to(t('links_aboutus'), :about) %></li>
<li><%= link_to(t('links_why'), :why) %></li>
<li><%= link_to(t('links_reviews'), :reviews) %></li>
<li><%= link_to(t('links_faq'), :faq) %></i>
<li><%= link_to(t('links_terms'), :terms) %></li>	
<li><%= link_to(t('links_privacy'), :privacy) %></li>
<li><%= link_to(t('links_legal'), :legal) %></li>
<li><%= link_to(t('links_jobs'), :jobs) %></li>
<li><%= link_to(t('links_contact'), :contact) %></li>	