<p class="bibicoins-bullets"><%= link_to(t('links_traditional'), :traditional) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_bitcoins'), :bitcoins) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_wallets'), :wallets) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_howtobuy'), :howtobuy) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_howtosell'), :howtosell) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_howtoprotect'), :how) %></p>
<p class="bibicoins-bullets"><%= link_to(t('links_faq'), :faq) %></p>
