<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<p><%= link_to 'Chinese', params.merge({:locale => :zh})%> | <%= link_to 'English', params.merge({:locale => :en})%> | 	<%= link_to "Home", :home %> </p>
<%= image_tag("logo.png", :alt => "logo") %><br>
<%= yield %>

</body>
</html>
