<!DOCTYPE html>

<!-- To DELETE 

		    <ul class="right">
 		      <li><%= link_to(t('links_home'), :home) %></li>
 				<li class="divider"></li>
		      <li><%= link_to(t('links_buybitcoin'), new_transaction_path(:ttype => 0))%></li>
				<li class="divider"></li>
				<li><%= link_to(t('links_sellbitcoin'), new_transaction_path(:ttype => 1)) %></li>
				<li class="divider"></li>

		      <li class="has-dropdown">
		        <%= link_to(t('links_learn'), :bitcoins) %>
		        <ul class="dropdown">
					<li><%= link_to(t('links_traditional'), :traditional) %></li>
					<li><%= link_to(t('links_bitcoins'), :bitcoins) %></li>
					<li><%= link_to(t('links_wallets'), :wallets) %></li>
					<li><%= link_to(t('links_howtobuy'), :howtobuy) %></li>
					<li><%= link_to(t('links_howtosell'), :howtosell) %></li>
					<li><%= link_to(t('links_howtoprotect'), :how) %></li>					 					 
					<li><%= link_to(t('links_faq'), :faq) %></li>					 					 
		        </ul>
		      </li>
				<li class="divider"></li>
		
		      <li class="has-dropdown">
		         <%= link_to(t('links_about'), :about) %>
		        <ul class="dropdown">
		          <li><%= link_to(t('links_aboutus'), :about) %></li>
					 <li><%= link_to(t('links_why'), :why) %></li>
					 <li><%= link_to(t('links_reviews'), :reviews) %></li>					 
					 <li><%= link_to(t('links_terms'), :terms) %></li>
					 <li><%= link_to(t('links_privacy'), :privacy) %></li>					  
					 <li><%= link_to(t('links_legal'), :legal) %></li>
					 <li><%= link_to(t('links_jobs'), :jobs) %></li>
					 <li><%= link_to(t('links_contact'), :contact) %></li>
			       <li><%= link_to(t('links_faq'), :faq) %></li>			 					 
		        </ul>
		      </li>
		    </ul>

-->

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Bibicoins | 比特幣" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
	 
  </head>

  <body>

<div>
	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name"></li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	  </ul>
		<section class="top-bar-section">
		    <ul class="left">
				<li><%= link_to 'English', params.merge({:locale => :en})%></li>
				<li><%= link_to 'Chinese', params.merge({:locale => :zh})%></li>				
		    </ul>
		    <ul class="right">
		    	<li><%= link_to(t('links_howtoprotect'), :how) %></li>
		    </ul>
		</section>
  	</nav>
</div>

<!-- Text Menu -->
<div class="row">
  <div class="small-12 medium-2 large-1 columns text-left">
  	<%= link_to(image_tag("logo.png", :alt =>  "BiBicoins", :size =>"100x75"), :home) %>
  </div>
  <div class="show-for-medium-up medium-10 large-11 columns">
  <div class="bibicoins-main-menu">
	<dl class="sub-nav right">
	  <dd><%= link_to(t('links_home'), :home) %></dd>
	  <dd><%= link_to(t('links_buybitcoin'), new_transaction_path(:ttype => 0))%></dd>
	  <dd><%= link_to(t('links_sellbitcoin'), new_transaction_path(:ttype => 1))%></dd>
	  <dd><%= link_to(t('links_learn'), :bitcoins) %></dd>  
	  <dd><%= link_to(t('links_about'), :about) %></dd>   
	</dl>
	</div>	
  </div>   
</div>

<br>

   <%= yield %>
   <%= javascript_include_tag "application" %>		

	 <!-- Social Media Icons -->			 
	 <div class="bibicoins-footer-bottom">
 		<div class="row">
   		<div class="medium-4 medium-4 push-8 columns">
     		 <ul class="home-social">
          <li><a href="http://www.twitter.com/Bibicoins" class="twitter"></a></li>
          <li><a href="http://www.facebook.com/Bibicoins" class="facebook"></a></li>
          <li><a href="mailto:bibicoins@gmail.com" class="mail"></a></li>
        </ul>
     </div>
	  
	 <!-- Footer Menu Links -->		
	 <div class="medium-8 medium-8 pull-4 columns">
        <ul class="bibicoins-links">
          <li><%= link_to(t('links_home'), :home) %></li>
			 <li><%= link_to(t('links_buybitcoin'), new_transaction_path(:ttype => 0)) %></li>
			 <li><%= link_to(t('links_sellbitcoin'), new_transaction_path(:ttype => 1)) %></li>
			 <li><%= link_to(t('links_contact'), :contact) %></li>
          <li><%= link_to(t('links_aboutus'), :about) %></li>
			 <li><%= link_to(t('links_faq'), :faq) %></li>
          <li><%= link_to(t('links_terms'), :terms) %></li>
			 <li><%= link_to(t('links_privacy'), :privacy) %></li>
			 <li><%= link_to(t('links_legal'), :legal) %></li>
			 <li><%= link_to(t('links_jobs'), :jobs) %></li>			 
       </ul>
       <p class="copyright"><%=t :footer_copyright %></p>
  	  </div>
 	 </div>
	</div>	

  </body>
</html>