<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Bibicoin" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
	 <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	 
  </head>

  <body>
	   <!-- Top Nav Bar -->			
		<nav class="top-bar" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <h1><%= link_to "bibicoins.com.tw", :home %></h2>
		    </li>
		     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>

		  <section class="top-bar-section">

		    <!-- Right Nav Section -->
		    <ul class="right">
 		      <li><%= link_to(t('links_home'), :home) %></li>
 				<li class="divider"></li>
		      <li><%= link_to(t('links_buybitcoin'), :buy) %></li>
				<li class="divider"></li>
				<li><%= link_to(t('links_sellbitcoin'), :sell) %></li>
				<li class="divider"></li>

				<!-- Learn Menu -->
		      <li class="has-dropdown">
		        <%= link_to(t('links_learn'), :bitcoins) %>
		        <ul class="dropdown">
					<li><%= link_to(t('links_bitcoins'), :bitcoins) %></li>
					<li><%= link_to(t('links_wallets'), :wallets) %></li>
					<li><%= link_to(t('links_howtobuy'), :howtobuy) %></li>
					<li><%= link_to(t('links_howtosell'), :howtosell) %></li>
					<li><%= link_to(t('links_howtoprotect'), :how) %></li>
					<li><%= link_to(t('links_traditional'), :traditional) %></li>					 					 
					<li><%= link_to(t('links_faq'), :faq) %></li>					 					 
		        </ul>
		      </li>
				<li class="divider"></li>

				<!-- About Menu -->				
		      <li class="has-dropdown">
		         <%= link_to(t('links_about'), :about) %>
		        <ul class="dropdown">
		          <li><%= link_to(t('links_aboutus'), :about) %></li>
					 <li><%= link_to(t('links_why'), :why) %></li>
					 <li><%= link_to(t('links_reviews'), :reviews) %></li>					 
					 <li><%= link_to(t('links_terms'), :terms) %></li>
					 <li><%= link_to(t('links_privacy'), :privacy) %></li>					  
					 <li><%= link_to(t('links_legal'), :legal) %></li>
					 <li><%= link_to(t('links_jobs'), :jobs) %></li>
					 <li><%= link_to(t('links_contact'), :contact) %></li>
			       <li><%= link_to(t('links_faq'), :faq) %></li>			 					 
		        </ul>
		      </li>
		    </ul>
			 
		    <!-- Left Nav Section for Language Menu -->
		    <ul class="left">
				<li class="divider"></li>
				<li><%= link_to 'English', params.merge({:locale => :en})%></li>
				<li class="divider"></li>
				<li><%= link_to 'Chinese', params.merge({:locale => :zh})%></li>				
		    </ul>
			 
		  </section>
		</nav>

   <%= yield %>
   <%= javascript_include_tag "application" %>		

	 <!-- Social Media Icons -->			 
	 <div class="bibicoin-footer-bottom">
 		<div class="row">
   		<div class="medium-4 medium-4 push-8 columns">
     		 <ul class="home-social">
          <li><a href="http://www.twitter.com/Bibicoin" class="twitter"></a></li>
          <li><a href="http://www.facebook.com/Bibicoin" class="facebook"></a></li>
          <li><a href="http://www.bibicoin.com.tw/contact" class="mail"></a></li>
        </ul>
     </div>
	  
	 <!-- Footer Menu Links -->		
	 <div class="medium-8 medium-8 pull-4 columns">
        <ul class="bibicoin-links">
          <li><%= link_to(t('links_home'), :home) %></li>
			 <li><%= link_to(t('links_buybitcoin'), :buy) %></li>
			 <li><%= link_to(t('links_sellbitcoin'), :sell) %></li>
			 <li><%= link_to(t('links_contact'), :contact) %></li>
          <li><%= link_to(t('links_aboutus'), :about) %></li>
			 <li><%= link_to(t('links_faq'), :faq) %></li>
          <li><%= link_to(t('links_terms'), :terms) %></li>
			 <li><%= link_to(t('links_privacy'), :privacy) %></li>
			 <li><%= link_to(t('links_legal'), :legal) %></li>
			 <li><%= link_to(t('links_jobs'), :jobs) %></li>			 
       </ul>
       <p class="copyright"><%=t :footer_copyright %></p>
  	  </div>
 	 </div>
	</div>	
	 
  </body>
</html>